@font-face {
    font-family: 'iran-sans';
    src: url('fonts/IRANSans/eot/IRANSansWeb.eot'); /* IE9 Compat Modes */
    src: url('fonts/IRANSans/eot/IRANSansWeb.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */ url('fonts/IRANSans/woff/IRANSansWeb.woff') format('woff'), /* Pretty Modern Browsers */ url('fonts/IRANSans/ttf/IRANSansWeb.ttf') format('truetype'); /* Safari, Android, iOS */
}

@font-face {
    font-family: 'iran-sans-bold';
    src: url('fonts/IRANSans/eot/IRANSansWeb_Bold.eot'); /* IE9 Compat Modes */
    src: url('fonts/IRANSans/eot/IRANSansWeb_Bold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */ url('fonts/IRANSans/woff/IRANSansWeb_Bold.woff') format('woff'), /* Pretty Modern Browsers */ url('fonts/IRANSans/ttf/IRANSansWeb_Bold.ttf') format('truetype'); /* Safari, Android, iOS */
}

@font-face {
    font-family: 'iran-sans-light';
    src: url('fonts/IRANSans/eot/IRANSansWeb_Light.eot'); /* IE9 Compat Modes */
    src: url('fonts/IRANSans/eot/IRANSansWeb_Light.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */ url('fonts/IRANSans/woff/IRANSansWeb_Light.woff') format('woff'), /* Pretty Modern Browsers */ url('fonts/IRANSans/ttf/IRANSansWeb_Light.ttf') format('truetype'); /* Safari, Android, iOS */
}

@font-face {
    font-family: 'iran-sans-medium';
    src: url('fonts/IRANSans/eot/IRANSansWeb_Medium.eot'); /* IE9 Compat Modes */
    src: url('fonts/IRANSans/eot/IRANSansWeb_Medium.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */ url('fonts/IRANSans/woff/IRANSansWeb_Medium.woff') format('woff'), /* Pretty Modern Browsers */ url('fonts/IRANSans/ttf/IRANSansWeb_Medium.ttf') format('truetype'); /* Safari, Android, iOS */
}

@font-face {
    font-family: 'yekan';
    src: url('fonts/Yekan.eot'); /* IE9 Compat Modes */
    src: url('fonts/Yekan.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */ url('fonts/Yekan.woff') format('woff'), /* Pretty Modern Browsers */ url('fonts/Yekan.ttf') format('truetype'); /* Safari, Android, iOS */
}

html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "iran-sans", sans-serif;
}

body {
    direction: rtl;
    background: #e2e2e2;
}

#header-top {
    height: 70px;
    width: 1200px;
    background: #0F4137;
    margin: 0 auto;
}

#header-top-center {
    width: 630px;
    height: 100%;
    float: right;
    margin-right: 25px;
}

#header-top-center ul li {
    list-style: none;
    float: right;
    background: url("images/bullet.jpg") no-repeat;
    background-position: right;
    margin-left: 10px;
}

#header-top-center > ul {
    margin: 22px 0 0 0;
}

#header-top-center ul li > a {
    text-decoration: none;
    color: #fff;
    font-family: iran-sans-light;
    font-size: 10pt;
    padding: 12px;
}

#header-top-left {
    width: 320px;
    height: 100%;
    float: left;
    padding: 15px 10px 0 0;
    box-sizing: border-box;
}

#header-top-left #top-signup > a {
    color: #fff;
    text-decoration: none;
    float: left;
    margin-top: 6px;
    margin-left: 15px;
    font-family: yekan;
    font-size: 10pt;
}

#header-top-left #top-login > a {
    color: #fff;
    text-decoration: none;
    display: inline-block;
    float: left;
    font-family: yekan;
    font-size: 10pt;
    margin-top: 6px;
    margin-left: 26px;
}

#top-menu {
    width: 1200px;
    height: 160px;
    background: #d1d1d1;
    margin: 0 auto;
}

#top-signup {
    width: 150px;
    height: 40px;
    background: black;
    float: right;
    margin-left: 10px;
    border: 1px solid gray;
    box-sizing: border-box;
    border-radius: 3px;
}

#top-login {
    width: 130px;
    height: 40px;
    background: #719f41;
    float: right;
    border-radius: 3px;
}

#top-logout {
    width: 130px;
    height: 40px;
    background: #FE7C38;
    float: right;
    border-radius: 3px;
    text-align: center;
    opacity: 0.8;
    transition: 0.3s;
}

#top-logout:hover {
    opacity: 1;
}

#header-top-left #top-logout > a {
    color: #fff;
    text-decoration: none;
    display: inline-block;
    float: left;
    font-family: yekan;
    font-size: 14pt;
    margin-top: -4px;
    margin-left: 40px;
}

#top-signup-icon {
    height: 100%;
    width: 24%;
    background: black;
    float: right;
    padding: 9px 7px 0 0;
    box-sizing: border-box;
}

#top-login-icon {
    height: 100%;
    width: 24%;
    float: right;
    padding: 9px 7px;
    box-sizing: border-box;
}

#top-menu-left {
    width: 1200px;
    height: 100%;
    background: #fff;
    float: left;
    box-shadow: 0px 1px 3px 0px #ccc;
    box-sizing: border-box;
    padding: 10px;
}

#top-menu-top {
    height: 80px;
    border-bottom: 2px solid #eee;
    box-sizing: border-box;
}

#menu-basket-icon {
    height: 50px;
    width: 50px;
    float: right;
    background: #12776F;
    text-align: center;
    border-radius: 0 3px 3px 0;
}

#menu-basket-icon img {
    margin-top: 11px;
}

#menu-basket-text {
    height: 50px;
    width: 175px;
    float: right;
    background: #00c2e5;
    text-align: center;
    border-radius: 3px 0 0 3px;
}

#menu-basket-text a {
    text-decoration: none;
    color: #fff;
    font-family: yekan;
    display: inline-block;
    margin-top: 10px;
}

#basket-item {
    margin-right: 20px;
}

#menu-basket {
    box-sizing: border-box;
    float: left !important;
    padding-top: 7px !important;
}

#top-menu-logo img {
    width: 100%;
    margin-top: 15px;
}

/*شروع استایل دهی منو بالا ...................................................................................*/

#top-menu-bottom {
    width: 100%;
    height: 50px;
    box-sizing: border-box;
    position: relative;
}

#top-menu-bottom > ul > li {
    list-style: none;
    display: inline-block;
    padding: 0 15px;
}

#top-menu-bottom > ul > li > a {
    text-decoration: none;
    color: #777;
    font-family: iran-sans;
    font-size: 10.5pt;
    line-height: 60px;
    display: block;
}

#top-menu-bottom > ul > li:hover > a {
    color: #00c2e5;
    transition: 300ms;
}

#top-menu-bottom > ul > li:hover {
    border-bottom: 2px solid #00c2e5;
    background: #f6f6f6;
    transition: 300ms;
}

#top-menu-bottom > ul > li:active {
    border-bottom: 2px solid #00c2e5;
    background: #f6f6f6;
    transition: 300ms;
}

.sub-menu {
    width: 1000px;
    background: #f6f6f6;
    position: absolute;
    right: -10px;
    box-shadow: 0 0 2px 1px #b8b8b8;
    margin-top: 2px;
    display: none;
    z-index: 100000000000;
}

.sub-menu > li {
    list-style: none;
    display: inline-block;
    padding: 0 15px;
}

.sub-menu > li > a {
    text-decoration: none;
    line-height: 50px;
    color: #777;
    font-family: yekan;
    font-size: 10pt;
    display: block;
}

.submenu-3 {
    width: 1000px;
    height: 300px;
    background: #fff;
    position: absolute;
    right: 0;
    box-shadow: 0 1px 3px 1px #b8b8b8;
    box-sizing: border-box;
    display: none;
    z-index: 100000000;
}

.submenu3-col {
    width: 25%;
    float: right;
    height: 100%;
    border-left: 1px solid #e4e4e4;
    box-sizing: border-box;
}

.submenu3-col:last-child {
    border: 0;
}

.submenu3-item {
    margin: 10px 10px 0 0;
}

.submenu3-item > li {
    list-style: none;
    background: url("images/arrow-left-01-128.png") no-repeat;
    background-position: right;
}

.submenu3-item > li > a {
    text-decoration: none;
    color: #7f7f7f;
    font-family: yekan;
    font-size: 10.5pt;
    line-height: 30px;
    display: block;
    padding-right: 18px;
}

.sub-menu > li:hover > a {
    color: #00bfde;
}

.submenu3-item > li:hover > a {
    color: #00a291;
}

#main {
    width: 1200px;
    margin: 0 auto;
}

#top-search {
    width: 100%;
    background: #ffffff;
    margin-top: 10px;
    box-sizing: border-box;
    box-shadow: 0 2px 5px 0 #cbcbcb;
}

#search-area {
    height: 140px;
    width: 50%;
    text-align: center;
    position: relative;
    display: inline-block;
}

#search-input {
    width: 500px;
    height: 50px;
    margin-top: 10px;
    border: 1px solid #e6e6e6;
    border-radius: 6px;
    padding: 0 15px;
    box-sizing: border-box;
    font-family: yekan;
    background: #f8f8f8;
    font-size: 14pt;
    float: right;
}

#search-button {
    background: #00778c;
    height: 50px;
    width: 50px;
    position: absolute;
    right: 449px;
    top: 10px;
    border-radius: 4px 0 0 4px;
    cursor: pointer;
}

#search-button-text {
    height: 48px;
    width: 100px;
    float: left;
    text-align: right;
    font-size: 14pt;
    font-family: yekan;
    color: #fff;
    line-height: 43px;
    cursor: pointer;
}

#search-button-icon {
    height: 48px;
    width: 50px;
    float: right;
}

#search-button-icon img {
    margin-top: 8px;
}

#search-icons {
    height: 110px;
    width: 800px;
    margin: 12px auto;
    padding-bottom: 15px;
    box-sizing: border-box;
}

#search-icons .icons {
    height: 100%;
    width: 160px;
    box-sizing: border-box;
    border-left: 1px dashed #e0e0e0;
    float: right;
    text-align: center;
}

#search-icons .icons:last-child {
    border-left: 0;
}

#search-icons p {
    line-height: 50px;
    font-family: iran-sans;
    font-size: 10pt;
}

#sliders {
    width: 100%;
    height: 500px;
}

#sliders {
    width: 100%;
    height: 360px;
    margin-top: 10px;
    box-shadow: 0 2px 5px 0 #cbcbcb;
    box-sizing: border-box;
    position: relative;
    background: #fff;
}

#sliders .royaltimer-container {
    position: absolute;
    right: 324px;
    bottom: 4px;
    width: 200px;
}

#sliders .main-slider {
    width: 910px;
    height: 100%;
    background: #ffffff;
    float: left;
    overflow: hidden;
    display: none;
}

.main-slider-image {
    width: 100%;
    height: 100%;
    float: left;
}

.main-slider-image img {
    width: 100%;
    height: 100%;
}

.main-slider-content {
    width: 440px;
    height: 100%;
    float: right;
    padding: 0 10px;
    box-sizing: border-box;
    position: relative;
}

.main-slider-content h2 {
    font-size: 12pt;
    text-align: center;
    line-height: 28px;
    font-family: yekan;
    margin-top: 15px;
    font-weight: 100;
}

.main-slider-content h2 a {
    text-decoration: none;
    color: #555;
}

.main-slider-content p {
    font-family: iran-sans-light;
    font-size: 10pt;
    text-align: justify;
    color: #666;
    margin-left: 10px;
}

.slider-icons {
    width: 375px;
    height: 65px;
    background: #f2f2f2;
    margin: 15px auto;
    border: 1px solid #e4e4e4;
    border-radius: 4px;
    box-sizing: border-box;
    text-align: center;
    position: absolute;
    bottom: 65px;
    right: 0;
    left: 0;
}

.slider-icons .sicon {
    width: 33.33%;
    height: 100%;
    border-left: 1px solid #fff;
    float: right;
    box-sizing: border-box;
}

.slider-icons .sicon:last-child {
    border-left: 0;
}

.slider-icons .sicon img {
    margin-top: 8px;
}

.slider-icons .sicon p {
    text-align: center;
    font-family: iran-sans;
    font-size: 8pt;
}

.main-content-price {
    width: 100%;
    height: 70px;
    position: absolute;
    left: 0;
    bottom: 0;
}

.main-content-price-text {
    width: 170px;
    float: right;
    height: 100%;
}

.main-content-price-button {
    width: 180px;
    float: left;
    height: 100%;
}

.price-button {
    width: 150px;
    height: 45px;
    background: #719f41;
    margin-top: 10px;
    border-radius: 10px;
    text-align: center;
}

.price-button a {
    display: block;
    text-decoration: none;
    color: #fff;
    font-family: yekan;
    line-height: 45px;
    font-size: 16pt;
}

.pishnahad-lahzei img {
    width: 100%;
}

#slider-right-arrow {
    width: 60px;
    height: 60px;
    background-color: #0006;
    position: absolute;
    right: 290px;
    bottom: 150px;
    text-align: center;
    cursor: pointer;
    display: none;
}

#slider-left-arrow {
    width: 60px;
    height: 60px;
    background-color: #0006;
    position: absolute;
    left: 0;
    bottom: 150px;
    text-align: center;
    cursor: pointer;
    display: none;
}

#slider-right-arrow img {
    margin-top: 10px;
}

#slider-left-arrow img {
    margin-top: 10px;
}

#search-icons .icons img {
    height: 50px;
}

#course-info {
    width: 100%;
    background: #ffffff;
    margin-top: 10px;
    box-shadow: 0 2px 5px 0 #cbcbcb;
}

#course-info .right-list {
    width: 600px;
    height: auto;
    float: right;
    border-left: 1px solid #efefef;
    box-sizing: border-box;
    padding: 10px 15px;
}

#course-info .right-list > ul {
    width: 100%;
    height: 510px;
}

#course-info .right-list > ul > li {
    list-style: none;
    width: 100%;
    height: 115px;
    padding: 5px 0;
    border-bottom: 1px dashed #ececec;
    box-sizing: border-box;
}

#course-info .right-list > ul > li:last-child {
    border: 0;
}

#course-info .right-list ul li .info-icons {
    width: 400px;
    height: 30px;
    position: absolute;
    left: 0px;
    bottom: 0;
}

#course-info .right-list ul > li .title {
    width: 465px;
    height: 100px;
    float: right;
}

#course-info .right-list ul > li .img {
    width: 100px;
    height: 100px;
    float: right;
}

#course-info .right-list ul > li .img img {
    width: 100px;
    height: 100px;
    padding: 2px;
    box-sizing: border-box;
    border-radius: 15px;
}

#course-info .right-list ul > li .title h4 {
    font-family: iran-sans;
    font-size: 10.5pt;
    margin: 7px 15px 0 15px;
    font-weight: 100;
}

#course-info .right-list > ul > li > a {
    text-decoration: none;
    color: #555;
    display: block;
    position: relative;
    height: 100px;
}

.info-icons ul li {
    list-style: none;
    width: 33.3%;
    float: left;
    font-size: 9pt;
    font-family: yekan;
    color: #2196f3;
    line-height: 29px;
}

.info-icons ul li i {
    display: inline-block;
    width: 25px;
    height: 25px;
    float: right;
    margin: 2px 0 0 5px;
    background: url("images/slices.png") no-repeat;
}

#course-info .left-list {
    width: 600px;
    height: auto;
    float: left;
    padding: 15px;
    box-sizing: border-box;
}

#course-info .left-list ul {
    width: 100%;
    height: auto;
}

#course-info .left-list > ul > li {
    list-style: none;
    width: 100%;
    margin-bottom: 15px;
    border-radius: 15px;
    padding: 8px;
    box-sizing: border-box;
    height: auto;
}

#course-info .left-list > ul > li > a {
    text-decoration: none;
    display: block;
    color: black;
    height: auto;
}

#course-info .left-list ul li a .img {
    width: 40px;
    height: 40px;
    float: right;
}

#course-info .left-list ul li a .title {
    width: 500px;
    height: 40px;
    float: left;
    margin-bottom: 5px;
}

#course-info .left-list ul li a .content {
    width: 550px;
    float: left;
}

.left-list ul li a .title h3 {
    font-family: yekan;
    font-size: 11pt;
    font-weight: 100;
}

.left-list ul li a .content p {
    font-family: iran-sans-light;
    font-size: 9pt;
    color: #777;
}

#course-info > h4 {
    line-height: 60px;
    font-family: yekan;
    color: #444;
    width: 580px;
    float: right;
    padding-right: 24px;
    box-sizing: border-box;
    border-bottom: 1px solid #eaeaea;
    margin: 10px;
}

#course-info > h4 > i {
    display: inline-block;
    width: 70px;
    height: 50px;
    float: right;
    margin: 10px 0 0 10px;
    background: url("images/slices.png") no-repeat;
}

#course-info > .cat-icon {
    display: inline-block;
    float: right;
    margin: 15px 15px 0 5px;
}

#course-info > .cat-icon > img {
    width: 50px;
}

#future-courses {
    width: 100%;
    background: #ffffff;
    margin-top: 10px;
    box-shadow: 0 2px 5px 0 #cbcbcb;
    height: 300px;
}

#future-courses > h4 {
    line-height: 60px;
    font-family: yekan;
    color: #444;
    display: inline-block;
}

#future-courses > .cat-icon {
    display: inline-block;
    float: right;
    margin: 15px 15px 0 5px;
}

#future-courses > .cat-icon > img {
    width: 50px;
}

.discount {
    width: 100%;
    height: auto;
    background: #ffffff;
    margin-top: 10px;
    box-shadow: 0 2px 5px 0 #cbcbcb;
}

.discount > h4 {
    font-family: yekan;
    line-height: 60px;
    margin-right: 15px;
    border-bottom: 1px solid #ededed;
    width: 1170px;
    margin: 0 auto;
}

.discount > h4 i {
    display: inline-block;
    width: 50px;
    height: 50px;
    background: url("images/slices.png") no-repeat;
    float: right;
    margin-left: 10px;
}

.discount-scroll {
    width: 100%;
    height: auto;
    position: relative;
}

.discount .discount-scroll-next {
    width: 55px;
    height: 100%;
    float: left;
    background: #fffc;
    cursor: pointer;
    position: absolute;
    left: 0;
    z-index: 10;

}

.discount .discount-scroll-next > i {
    display: block;
    width: 35px;
    height: 35px;
    position: relative;
    top: 185px;
    background: url("images/slices.png") no-repeat;
    margin: 0 auto;
}

.discount .discount-scroll-prev {
    width: 55px;
    height: 100%;
    background: #fffc;
    float: right;
    cursor: pointer;
    position: absolute;
    right: 0;

}

.discount .discount-scroll-prev > i {
    display: block;
    width: 35px;
    height: 35px;
    position: relative;
    top: 185px;
    background: url("images/slices.png") no-repeat;
    margin: 0 auto;
}

.discount .discount-scroll-content {
    width: 1200px;
    height: 100%;
    float: left;
    padding: 30px 12px;
    box-sizing: border-box;
    overflow: hidden;
}

.discount .discount-scroll-content > ul {
    width: 2400px;
    height: 100%;
    float: right;
}

.discount .discount-scroll-content > ul > li {
    width: 278px;
    height: 375px;
    float: right;
    list-style: none;
    border: 1px solid #dbdbdb;
    box-sizing: border-box;
    border-radius: 3px;
    margin: 0 0 0 22px;
    overflow: hidden;
}

.discount .discount-scroll-content > ul > li a {
    width: 276px;
    height: 375px;
    display: block;
    text-decoration: none;
    color: black;
    position: relative;
}

#new-course {
    width: 100%;
    background: #ffffff;
    margin-top: 10px;
}

.discount-scroll-content .course-img {
    width: 100%;
    height: 160px;
}

.discount-scroll-content .course-img > img {
    width: 100%;
    height: 160px;
}

.discount-scroll-content .discount-scroll-item > h3 {
    width: 220px;
    margin: 10px auto;
    font-family: iran-sans;
    font-size: 11pt;
    text-align: center;
    font-weight: normal;
    padding-bottom: 5px;
}

.rate-teacher {
    width: 226px;
    height: 50px;
    margin: 0 auto;
    border-bottom: 1px solid #e4e4e4;
    padding-bottom: 3px;
}

.rate-teacher .teacher {
    width: 113px;
    height: 50px;
    float: right;
}

.rate-teacher .teacher > img {
    width: 30px;
    height: 30px;
    border-radius: 100%;
    border: 1px solid #929292;
    box-sizing: border-box;
    float: right;
    margin-left: 5px;
}

.rate-teacher .rate {
    width: 113px;
    height: 50px;
    float: left;
}

.rate-teacher .rate img {
    float: left;
    margin-top: 4px;
}

.time-old-price {
    width: 100%;
    height: 30px;
    margin-top: 5px;
}

.time-old-price .time {
    width: 113px;
    height: 80px;
    float: right;
    padding-top: 14px;
    box-sizing: border-box;
    color: #555;
}

.time-old-price .time > i.time {
    display: block;
    width: 35px;
    height: 23px;
    background: url("images/slices.png") no-repeat -1181px -243px;
    float: right;
    margin-left: 3px;
}

.time-old-price .time > i.student {
    display: block;
    width: 35px;
    height: 23px;
    background: url("images/slices.png") no-repeat -947px -767px;
    float: right;
    margin-left: 3px;
}

.time-old-price .old-price {
    width: 137px;
    height: 30px;
    float: left;
    text-align: center;
}

.time-old-price .time > span {
    display: block;
    float: right;
    font-family: arial;
    font-size: 9pt;
    line-height: 25px;
    font-weight: bold;
}

.discount-scroll-item .course-price {
    background: #00778c;
    text-align: center;
    line-height: 33px;
    font-size: 14pt;
    color: #fff;
    font-family: iran-sans;
    margin-right: 15px;
    float: left;
    height: 30px;
    border-radius: 6px;
    margin-left: 10px;
    width: 90px;
}

.discount-scroll-item .discount-label {
    width: 85px;
    height: 53px;
    position: absolute;
    top: 0;
    background: url("images/discount.png") no-repeat;
    margin: 5px;
    text-align: center;
    font-size: 20pt;
    font-family: arial;
    line-height: 53px;
    font-weight: bold;
    color: #bd1f1f;
}

.discount .discount-scroll-content > ul > li:hover h3 {
    color: #34b3ff;
}

#tab-box {
    width: 100%;
    background: #fff;
    height: 78px;
    margin-top: 10px;
    box-shadow: 0 2px 5px 0 #cbcbcb;
}

#tab-box > li {
    list-style: none;
    float: right;
    font-family: iran-sans;
    line-height: 75px;
    width: 160px;
    text-align: center;
    border-left: 1px dashed #e7e7e7;
    cursor: pointer;
}

#tab-box > li:last-child {
    border-left: 0;
}

#tab-box > li.active {
    border-bottom: 3px solid #3aa7f6;
    color: cornflowerblue;
    box-sizing: border-box;
}

#new-course section {
    display: none;
    width: 100%;
    background: #ffffff;
    margin-top: 10px;
    height: auto;
    padding-top: 15px;
    box-shadow: 0 2px 5px 0 #cbcbcb;
}

#new-course section:first-child {
    display: block;
}

#new-course section ul > li {
    width: 277px;
    height: 375px;
    float: right;
    list-style: none;
    border: 1px solid #dbdbdb;
    box-sizing: border-box;
    border-radius: 3px;
    margin: 0 18px 20px 0;
    overflow: hidden;
}

#new-course section ul > li > a {
    width: 277px;
    height: 375px;
    display: block;
    text-decoration: none;
    color: black;
    position: relative;
}

#new-course section ul > li > a .course-img {
    width: 100%;
    height: 160px;
}

#new-course section ul > li > a h3 {
    width: 250px;
    margin: 10px auto;
    font-family: iran-sans;
    font-size: 11pt;
    text-align: center;
    font-weight: normal;
    padding-bottom: 5px;
}

#new-course section ul > li > a .rate-teacher {
    width: 250px;
    height: 50px;
    margin: 0 auto;
    border-bottom: 1px solid #e4e4e4;
    padding-bottom: 3px;
}

#new-course section ul > li > a .rate-teacher .teacher {
    width: 124px;
    height: 50px;
    float: right;
}

#new-course section ul > li > a .rate-teacher .teacher > img {
    width: 30px;
    height: 30px;
    border-radius: 100%;
    border: 1px solid #929292;
    box-sizing: border-box;
    float: right;
    margin-left: 5px;
}

#new-course section ul > li > a .rate-teacher .rate {
    width: 113px;
    height: 50px;
    float: left;
}

#new-course section ul > li > a .rate-teacher .rate > img {
    float: left;
    margin-top: 4px;
    height: 19px;
    width: 80px;
}

#new-course section ul > li a img {
    width: 100%;
    height: 160px;
}

#tab-box-area {
    width: 100%;
    height: 190px;
    background: #fff;
    box-shadow: 0 2px 5px 0 #cbcbcb;
}

#tab-box-area .tab-box-area-top {
    width: 100%;
    height: 112px;
    background: url("images/cat-img/new-inner-banner.jpg") no-repeat;
    float: right;
}

.tab-box-area-top h4 {
    text-align: center;
    color: #fff;
    font-family: yekan;
    font-size: 17pt;
    line-height: 100px;
}

#new-course section ul {
    width: 100%;
    height: auto;
}

#sliders .pishnahad-lahzei {
    width: 280px;
    height: 100%;
    background: #ffffff;
    float: right;
    border-left: 10px solid #f2ffff;
    position: relative;
    overflow: hidden;
}

#footer {
    width: 100%;
    background: #fff;
    float: right;
    margin-top: 10px;
    margin-bottom: 20px;
    box-shadow: 0 2px 5px 0 #cbcbcb;
}

#footer .footer-line {
    width: 100%;
    height: 15px;
    border-bottom: 3px solid #f5f5f5;
    margin: 15px auto;
}

#footer .footer-bottom {
    width: 100%;
    height: 240px;
}

#footer .footer-bottom .footer-bottom-right {
    width: 50%;
    height: 240px;
    float: right;
}

#footer .footer-bottom .footer-bottom-right .quick-access {
    width: 50%;
    height: 240px;
    float: right;
}

#footer .footer-bottom .footer-bottom-right .quick-access h4 {
    color: #111;
    font-family: yekan;
    font-size: 12pt;
    margin: 0 15px 10px 0;
}

#footer .footer-bottom .footer-bottom-right .services h4 {
    color: #111;
    font-family: yekan;
    font-size: 12pt;
    margin: 0 15px 10px 0;
}

#footer .footer-bottom .footer-bottom-right .quick-access ul {
    margin: 0 40px 0 0;
    list-style: none;
    color: #555;
    font-family: iran-sans-light;
    font-size: 10pt;
}

#footer .footer-bottom .footer-bottom-right .services ul {
    margin: 0 40px 0 0;
    list-style: none;
    color: #555;
    font-family: iran-sans-light;
    font-size: 10pt;
}

#footer .footer-bottom .footer-bottom-right .quick-access ul li i {
    display: block;
    width: 15px;
    height: 15px;
    background-position: -611px -118px;
    margin-left: 6px;
    float: right;
    font-size: 15pt;
    color: #8787ff;
}

#footer a {
    text-decoration: none;
    color: #0F4036;
}

#footer .footer-bottom .footer-bottom-right .services ul li i {
    display: block;
    width: 15px;
    height: 15px;
    background-position: -611px -118px;
    margin-left: 6px;
    float: right;
    font-size: 15pt;
    color: #8787ff;
}

#footer .footer-bottom .footer-bottom-right .services {
    width: 50%;
    height: 240px;
    float: left;
}

#footer .footer-bottom .footer-bottom-left {
    width: 50%;
    height: 240px;
    float: left;
}

#footer .footer-bottom .footer-bottom-left h4 {
    font-family: yekan;
    color: #000;
    font-size: 11pt;
}

#footer .footer-bottom .footer-bottom-left .mobile .mobile-input {
    width: 70%;
    height: 50px;
    float: right;
}

#footer .footer-bottom .footer-bottom-left .mobile .mobile-input input {
    width: 100%;
    height: 50px;
    border: 1px solid #dddddd;
    background: #f3f3f3;
    color: #555;
    border-radius: 4px;
    padding-right: 5px;
    box-sizing: border-box;
    font-family: yekan;
}

#footer .footer-bottom .footer-bottom-left .mobile button {
    width: 20%;
    height: 50px;
    background: #719f41;
    float: right;
    margin-right: 5px;
    border-radius: 4px;
    text-align: center;
    cursor: pointer;
}

#footer .footer-bottom .footer-bottom-left .mobile .mobile-button button {
    color: #fff;
    font-family: yekan;
    line-height: 44px;
    border: none;
}

#footer .footer-bottom .footer-bottom-left .mobile {
    width: 100%;
    height: 50px;
    margin-top: 15px;
}

#footer .footer-bottom .footer-bottom-left .social-icon {
    width: 100%;
    height: 50px;
    margin-top: 15px;
}

.social-icon ul li {
    list-style: none;
    float: right;
    margin-left: 5px;
}

.copyright p {
    line-height: 48px;
}

.main-register {
    width: 1200px;
    height: 620px;
    background: #fff;
    margin: 10px auto;
    box-shadow: 0 2px 5px 0 #cbcbcb;
}

.main-register .register-area {
    width: 1200px;
    height: 620px;
    background: #fff;
    margin: 10px auto;
}

.main-register .register-area .register-area-right {
    width: 600px;
    height: 780px;
    background: #fff;
    float: right;
    padding: 20px;
    box-sizing: border-box;
    border-left: 1px solid #eaeaea;
}

.main-register .register-area .register-area-right > h4 {
    font-family: yekan;
    font-size: 14pt;
    color: #666;
    margin-top: 20px;
    text-align: right;
    margin-right: 20px;
}

.register-area-left {
    width: 600px;
    height: 780px;
    background: #fff;
    float: left;
}

.register-area-right > p {
    font-family: iran-sans-light;
    font-size: 9pt;
    background: #fffadf;
    line-height: 38px;
    border: 1px solid #ffe39f;
    border-radius: 3px;
    color: #666;
    text-align: center;
    width: 425px;
    margin: 0 auto;
}

.register-area-right ul {
    width: 100%;
    height: 410px;
    margin: 30px 35px 0 0;
}

.modal-box-area ul {
    width: 90%;
    height: 205px;
    margin: 30px 35px 0 0;
}

.register-area-right ul li {
    list-style: none;
    font-family: yekan;
    width: 100%;
    line-height: 50px;
    height: 60px;
}

.modal-box-area ul li {
    list-style: none;
    font-family: yekan;
    width: 100%;
    line-height: 50px;
    height: 60px;
}

.register-area-right ul li label {
    width: 145px;
    height: 44px;
    display: inline-block;
    background: whitesmoke;
    text-align: right;
    font-size: 10pt;
    line-height: 41px;
    color: #666;
    border: 1px solid #e1e1e1;
    border-radius: 0 5px 5px 0;
    padding-right: 10px;
    box-sizing: border-box;
    float: right;

}

.modal-box-area ul li label {
    width: 145px;
    height: 44px;
    display: inline-block;
    background: whitesmoke;
    text-align: right;
    font-size: 10pt;
    line-height: 41px;
    color: #666;
    border: 1px solid #e1e1e1;
    border-radius: 0 5px 5px 0;
    padding-right: 10px;
    box-sizing: border-box;
    float: right;

}

.register-area-right ul li label i {
    width: 30px;
    height: 30px;
    display: inline-block;
    float: right;
    margin-top: 6px;
    margin-left: 10px;
    text-align: center;
    font-size: 14pt;

}

.modal-box-area ul li label i {
    width: 30px;
    height: 30px;
    display: inline-block;
    float: right;
    margin-top: 6px;
    margin-left: 10px;
    background: url("images/slices.png") no-repeat;

}

.register-area-right ul li input {
    width: 350px;
    height: 44px;
    background: white;
    text-align: left;
    line-height: 35px;
    color: #a1a1a1;
    border: 1px solid #e1e1e1;
    border-radius: 5px 0 0 5px;
    padding-left: 10px;
    box-sizing: border-box;
    float: right;
    font-family: arial;
    font-size: 9pt;
    margin-right: 3px;
    direction: ltr;
}

.modal-box-area ul li input {
    width: 350px;
    height: 44px;
    background: white;
    text-align: left;
    line-height: 35px;
    color: #a1a1a1;
    border: 1px solid #e1e1e1;
    border-radius: 5px 0 0 5px;
    padding-left: 10px;
    box-sizing: border-box;
    float: right;
    font-family: arial;
    font-size: 9pt;
    margin-right: 3px;
    direction: ltr;
}

.register-area-right p.low {
    font-family: yekan;
    font-size: 10pt;
    display: inline-block;
    margin-right: 10px;
    float: right;
    width: 85%;
    color: #666;
    line-height: 34px;
}

.modal-box-area p.low {
    font-family: yekan;
    font-size: 10pt;
    display: inline-block;
    margin-right: 10px;
    float: right;
    width: 85%;
    color: #666;
    line-height: 6px;
}

.register-area-right p.low a {
    text-decoration: none;
    color: #35aced;
    font-weight: 700;
    border-bottom: 1px dashed #35aced;
}

.register-check-box {
    float: right;
    display: block;
    margin-top: 10px;
    z-index: 2;
    position: relative;
    opacity: 0;
    width: 17px;
    height: 23px;
}

.modal-box-area .login-check-box {
    float: right;
    display: block;
    margin-top: 10px;
    z-index: 2;
    position: relative;
    opacity: 0;
    width: 17px;
    height: 23px;
}

.reg-check-area {
    width: 100%;
    height: 85px;
    margin-top: 15px;
}

.modal-box-area .log-check-area {
    width: 100%;
    height: 42px;
}

.new-check-box-uncheck {
    width: 15px;
    height: 15px;
    background: #e8fcfa;
    border: 1px solid #92dddd;
    position: relative;
    top: 10px;
}

.uncheck-login {
    width: 15px;
    height: 15px;
    background: #e8fcfa;
    border: 1px solid #92dddd;
    position: relative;
    top: 10px;
}

.new-check-box {
    background: url("images/slices.png") no-repeat #33c2c1 -1183px -306px;
}

.new-log-check-box {
    background: url("images/slices.png") no-repeat #33c2c1 -1183px -306px;
}

.reg-submit {
    width: 410px;
    height: 70px;
    margin: 0 auto;
}

.modal-box-area .reg-submit {
    width: 410px;
    height: 70px;
    margin: 0 auto;
}

.reg-submit-icon {
    width: 50px;
    height: 50px;
    background: #3a9de8;
    float: right;
    border-radius: 0 5px 5px 0;
    text-align: center;
    font-size: 17pt;
    color: #fff;
}

.modal-box-area .reg-submit-icon {
    width: 50px;
    height: 50px;
    background: url("images/slices.png") no-repeat #3a9de8 -1311px -78px;
    float: right;
    border-radius: 0 5px 5px 0;
}

.reg-submit-button {
    height: 50px;
    width: 350px;
    background: #208de6;
    border: 0;
    color: #fff;
    font-family: yekan;
    border-radius: 5px 0 0 5px;
    cursor: pointer;
}

.modal-box-area .reg-submit-button {
    height: 50px;
    width: 350px;
    background: #208de6;
    border: 0;
    color: #fff;
    font-family: yekan;
    border-radius: 5px 0 0 5px;
    cursor: pointer;
}

.register-area .reg-text {
    background: none;
    border: none;
    width: 100%;
    font-size: 11.5pt;
    font-family: yekan;
}

.modal-box-area .reg-text {
    background: #fff0ce;
    border: none;
    width: 100%;
    font-size: 11.5pt;
    font-family: yekan;
    text-align: center;
    line-height: 50px;
    color: #666;
}

.modal-box-area > form > ul > a {
    text-decoration: none;
    font-family: yekan;
    text-align: left;
    display: block;
    font-size: 9pt;
    color: #289ce6;
    margin: 0 0 10px 47px;
}

.modal-box-area p {
    font-size: 10pt;
    font-family: yekan;
    width: 90%;
    margin: 15px auto;
    color: #666;
}

.register-area .reg-text a {
    text-decoration: none;
    color: #0089ed;
    border-bottom: 1px dashed;
}

.modal-box-area .reg-text a {
    text-decoration: none;
    color: #0089ed;
    border-bottom: 1px dashed;
}

.reg-left-icon {
    width: 100%;
    height: 200px;
    margin-top: 40px;
}

.reg-left-icon i {
    width: 150px;
    height: 170px;
    margin: 0 auto;
    display: block;
    text-align: center;
    font-size: 90pt;
    color: #ededed;
}

.register-area-left ul {
    width: 490px;
    margin: 0 auto;
}

.register-area-left ul > li {
    list-style: none;
    font-family: iran-sans;
    font-size: 10pt;
    line-height: 40px;
    color: #666;
}

.register-area-left ul > li > i {
    width: 25px;
    height: 25px;
    display: inline-block;
    float: right;
    margin-left: 35px;
    margin-top: 7px;
    font-size: 16pt;
}

#modal-box {
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 99999999999999;
    background-color: rgba(0, 0, 0, .6);
    overflow: auto;
    display: none;
}

#modal-box .modal-box-area {
    width: 600px;
    height: 500px;
    background: #ffffff;
    position: fixed;
    margin: auto;
    left: 0;
    right: 0;
    top: 20%;
    border-radius: 5px;
    position: relative;
    display: none;
    overflow: hidden;
}

#modal-box .modal-box-area .close {
    display: inline-block;
    width: 30px;
    height: 30px;
    position: absolute;
    background: url("images/slices.png") no-repeat #e4e4e4 -1047px -42px;
    left: 13px;
    top: 13px;
    border-radius: 100%;
    cursor: pointer;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

#modal-box .modal-box-area > h4 {
    line-height: 55px;
    background: #efefef;
    font-size: 10pt;
    font-family: yekan;
    padding-right: 15px;
    color: #666;
}

.clear {
    clear: both;
}

.clear-left {
    clear: left;
}

.clear-right {
    clear: right;
}

.future-courses h4 {
    line-height: 50px;
    font-family: yekan;
    margin-right: 20px;
}

.future-courses h4 i {
    display: inline-block;
    width: 25px;
    height: 35px;
    float: right;
    margin-left: 10px;
    margin-top: 5px;
    background: url("images/slices.png") no-repeat;
}

.future-list {
    width: 436px;
    float: right;
}

.future-courses > ul > li {
    list-style: none;
}

.future-courses > ul > li:hover > a {
    color: #47abff;
}

.future-courses > ul > li:nth-child(odd) {
    background: whitesmoke;
}

.future-date {
    width: 100px;
    height: 30px;
    float: left;
}

.future-list p {
    font-family: yekan;
    font-size: 10.5pt;
}

.future-list p i {
    display: inline-block;
    width: 20px;
    height: 30px;
    margin-left: 10px;
    margin-top: 4px;
    background: url("images/slices.png") no-repeat -1183px -269px;
    float: right;
}

.future-courses > ul > li > a {
    display: block;
    width: 100%;
    height: 100%;
    text-decoration: none;
    color: #666;
}

.future-courses .future-date i {
    display: inline-block;
    width: 20px;
    height: 20px;
    float: left;
    margin-top: 7px;
    margin-left: 5px;
    background: url("images/slices.png") no-repeat -1180px -244px;
}

.future-date span {
    display: inline-block;
    float: left;
    margin: 10px 0 0 2px;
    font-family: arial;
    font-size: 9pt;
    color: #5e9fcf;
    font-weight: bold;
}

/*category page styles ...........................................................................*/

.cat-search {
    width: 100%;
    background: #fff;
    margin-top: 10px;
    box-shadow: 0 2px 5px 0 #cbcbcb;
}

.cat-search::after {
    content: "";
    display: block;
    clear: both;
}

.cat-search .cat-search-right {
    width: 400px;
    height: 90px;
    float: right;
    position: relative;
}

.cat-search .cat-search-right .cat-img {
    width: 100px;
    height: 90px;
    float: right;
    text-align: center;
}

.cat-search .cat-search-right .cat-img img {
    margin-top: 5px;
    border: 3px solid #ccc;
    box-sizing: border-box;
}

.cat-search-right h2 {
    font-family: yekan;
    font-size: 14pt;
    margin-top: 6px;
    width: 295px;
    float: left;
    text-align: right;
}

.cat-search-right .nav-bar {
    width: 300px;
    height: 30px;
    position: absolute;
    bottom: 5px;
    left: 0;
}

.cat-search-right .nav-bar ul {
    width: 300px;
    height: 30px;
    margin-top: 5px;
}

.cat-search-right .nav-bar ul li {
    list-style: none;
    float: right;
    margin-left: 20px;
}

.cat-search-right .nav-bar ul li i {
    display: inline-block;
    width: 10px;
    height: 10px;
    float: left;
    background: url("images/slices.png") no-repeat -34px -626px;
    position: relative;
    top: -13px;
    left: -14px;
}

.cat-search-right .nav-bar ul li a {
    text-decoration: none;
    color: #666;
    font-size: 6.5pt;
    display: block;
    font-family: iran-sans-light;
}

.cat-search .cat-search-center {
    width: 550px;
    height: 90px;
    float: right;
}

.cat-search .cat-search-center input {
    width: 450px;
    height: 50px;
    float: right;
    margin-top: 20px;
    background: #f5f5f5;
    border: 1px solid #e9e9e9;
    padding-right: 9px;
    box-sizing: border-box;
    font-family: yekan;
    border-radius: 0 3px 3px 0;
}

.cat-search .cat-search-center .search-bottom {
    width: 50px;
    height: 50px;
    background: #00778c;
    margin-top: 20px;
    float: right;
    border-radius: 5px 0 0 5px;
    border: none;
}

.cat-search .cat-search-center input:focus {
    border: 1px solid #ffdfdf;
    transition: 200ms;
}

.cat-search .cat-search-center .search-bottom i {
    display: inline-block;
    width: 50px;
    height: 50px;
    background: url("images/slices.png") no-repeat -1011px -737px;
}

.cat-search .cat-search-left {
    width: 250px;
    height: 90px;
    float: right;
}

.cat-search .cat-search-left ul {
    width: 220px;
    height: 45px;
    margin-top: 22px;
    box-sizing: border-box;
    border: 1px solid #eaeaea;
    border-radius: 14px;
    overflow: hidden;
}

.cat-search-left > ul > li {
    border-left: 1px solid #eccccc;
    float: right;
    list-style: none;
    box-sizing: border-box;
    text-align: center;
    border-left: 1px solid #eaeaea;
    /*height: 100%;*/

}

.cat-search-left ul li.active {
    background: #00c2e5;
}

.cat-search-left > ul > li:last-child {
    border-left: 0;
}

.cat-search-left > ul > li a {
    font-size: 9pt;
    font-family: iran-sans-light;
    text-decoration: none;
    color: #000;
    vertical-align: middle;
    line-height: 44px;
    display: block;
}

.cat-search-left ul li.active a {
    color: #fff;
}

#search-pills input {
    display: none;
}

#search-pills li {
    padding-top: 10px;
    cursor: pointer;
    height: 100%;
}

#filter {
    display: none;
}

.cat-contant-list {
    width: 100%;
    margin-top: 15px !important;
    box-sizing: border-box;
    background: #f5f5f5;
    padding: 10px;
}

.cat-contant-list::after {
    content: "";
    display: block;
    clear: both;
}

.cat-contant-list .cat-contant-list-filters {
    width: 280px;
    height: auto;
    box-shadow: 0 2px 5px 0 #dadada;
    background: #fff;
    float: right;
}

.cat-contant-list-filters section h4 {
    line-height: 50px;
    font-size: 11pt;
    font-family: yekan;
    color: #00a5ff;
    font-weight: 100;
}

.cat-contant-list-filters section h4 i {
    display: inline-block;
    width: 40px;
    height: 6px;
    float: right;
    background: #00a5ff;
    margin-top: 23px;
    margin-left: 8px;
}

.cat-contant-list-filters ul {
    margin-right: 15px;
}

.cat-contant-list-filters ul li {
    list-style: none;
    font-family: iran-sans-light;
    font-size: 10pt;
    position: relative;
    height: 35px;
}

.cat-contant-list-filters ul li div {
    display: inline-block;
    width: 17px;
    height: 17px;
    background: #e1e1e1;
    position: absolute;
    right: 0;
    top: 3px;
    border-radius: 3px;
    text-align: center;
}

.cat-contant-list-filters ul li div.cat_filter_active {
    background: #4abcff;
}

.cat-contant-list-filters ul li div input {
    margin-top: 2px;
    opacity: 0;
}

.cat-contant-list-filters ul li label {
    margin-right: 30px;
}

.cat-contant-list .cat-contant-list-left {
    width: 885px;
    height: auto;
    box-shadow: 0 2px 5px 0 #dadada;
    background: #fff;
    float: left;
    padding: 10px;
    box-sizing: border-box;
}

.cat-contant-list .cat-contant-list-left ul {
    width: 100%;
    height: auto;
    float: right;
    margin-right: 7px;
}

.cat-contant-list-left > section > ul > li {
    width: 274px;
    float: right;
    height: 380px;
    list-style: none;
    margin-left: 14px;
    border: 1px solid #dbdbdb;
    box-sizing: border-box;
    border-radius: 3px;
    overflow: hidden;
    margin-bottom: 20px;
}

.cat-contant-list-left > section > ul > li > a > h3 {
    width: 230px;
    margin: 10px auto;
    font-family: iran-sans;
    font-size: 11pt;
    text-align: center;
    font-weight: normal;
    padding-bottom: 5px;
}

.cat-contant-list-left > section > ul > li > a > div > img {
    width: 100%;
    height: 160px;
}

.cat-contant-list-left > section > ul > li > a {
    width: 274px;
    height: 380px;
    display: block;
    text-decoration: none;
    color: black;
    position: relative;
}

/*single course page styles ..................................................................*/

.single_title {
    width: 100%;
    background: #fff;
    margin-top: 10px;
    box-shadow: 0 2px 5px 0 #cbcbcb;
}

.single_title .title_area {
    width: 100%;
    height: 120px;
    position: relative;
}

.single_title .title_area h1 {
    font-family: iran-sans-bold;
    font-size: 24pt;
    margin-top: 6px;
    text-align: right;
    position: absolute;
    right: 140px;
    top: 11px;
    color: #444;
}

.single_title .nav-bar {
    width: 1060px;
    height: 30px;
    position: absolute;
    bottom: 5px;
    right: 140px;
}

.single_title .nav-bar ul {
    width: 300px;
    height: 30px;
    margin-top: 5px;
}

.single_title .nav-bar ul li {
    list-style: none;
    float: right;
    margin-left: 20px;
}

.single_title .nav-bar ul li i {
    display: inline-block;
    width: 10px;
    height: 10px;
    float: left;
    background: url("images/slices.png") no-repeat -34px -626px;
    position: relative;
    top: -13px;
    left: -14px;
}

.single_title .nav-bar ul li a {
    text-decoration: none;
    color: #666;
    font-size: 6.5pt;
    display: block;
    font-family: iran-sans-light;
}

.single_title > .title_area > .single_img {
    width: 120px;
    height: 120px;
    float: right;
    text-align: center;
}

.single_title > .title_area > .single_img > img {
    width: 105px;
    height: 105px;
    border-radius: 100%;
    margin-top: 8px;
    border: 3px solid #ccc;
    box-sizing: border-box;
}

.course_page {
    width: 100%;
    margin-top: 15px;
    box-sizing: border-box;
    background: #f5f5f5;
    padding: 10px;
}

.course_page:after {
    content: "";
    clear: both;
    display: block;
}

.course_page .course_details {
    width: 385px;
    height: 515px;
    box-shadow: 0 2px 5px 0 #dadada;
    background: #fff;
    float: right;
    padding: 15px;
    box-sizing: border-box;
}

.course_page .course_content {
    width: 780px;
    height: auto;
    max-height: 900px;
    box-shadow: 0 2px 5px 0 #dadada;
    background: #fff;
    float: left;
    padding: 10px;
    box-sizing: border-box;
}

.course_details .course_price {
    width: 100%;
    height: 60px;
    background: #00778c;
    border-radius: 5px;
    padding: 5px;
    box-sizing: border-box;
    transition: 500ms;
}

.course_price .icon_text {
    width: 50%;
    height: 100%;
    float: right;
    border-left: 2px solid #fff;
    box-sizing: border-box;
}

.course_price .icon_text i {
    display: inline-block;
    width: 40px;
    height: 40px;
    background: url("images/stu.png") no-repeat -8px -6px;
    float: right;
    margin: 5px 3px 0 5px;
}

.course_price .icon_text a {
    color: #fff;
    text-decoration: navajowhite;
    font-family: yekan;
    display: block;
    width: 100%;
    height: 100%;
    line-height: 46px;
    font-size: 13.5pt;
}

.course_price .price a {
    color: #fff;
    text-decoration: none;
    font-family: iran-sans;
    font-size: 13.5pt;
    display: block;
    line-height: 50px;
}

.course_price .price {
    width: 50%;
    height: 100%;
    float: left;
    text-align: center;
}

.price-real {
    width: 70%;
    color: white;
    font-size: larger;
    padding-top: 12px;
}

.course_features {
    width: 100%;
    height: 215px;
    margin-top: 20px;
}

.course_features li {
    width: 33.33%;
    float: right;
    list-style: none;
    text-align: center;
    font-size: 11pt;
    font-family: yekan;
    font-weight: bold;
}

.course_features li span {
    display: block;
    text-align: center;
    font-family: iran-sans;
    margin-top: 5px;
    font-size: 9pt;
    color: #666;
}

.course_features li i {
    display: block;
    width: 50px;
    height: 50px;
    background: red;
    margin: 7px auto;
    background: url("images/stu.png") no-repeat;
}

.course_features ul {
    width: 100%;
    height: 100%;
    margin-top: 40px;
    border-top: 1px solid #eaeaea;
    padding-top: 60px;
    box-sizing: border-box;
    position: relative;
}

.course_features ul::after {
    content: "جزئیات دوره";
    display: block;
    width: 100px;
    height: 20px;
    position: absolute;
    background: #e4e4e4;
    top: -10px;
    text-align: center;
    font-family: yekan;
    font-size: 9pt;
    line-height: 18px;
    color: #777;
    right: 36%;
    border-radius: 10px;
}

.rate_alert {
    width: 100%;
    background: #d6d9fb;
    height: 38px;
    margin-top: 20px;
    font-size: 9pt;
    font-family: iran-sans;
    line-height: 40px;
    padding-right: 5px;
    box-sizing: border-box;
}

.certificate_alert {
    width: 100%;
    background: #fbded6;
    height: 38px;
    margin-top: 5px;
    font-size: 9pt;
    font-family: iran-sans;
    line-height: 40px;
    padding-right: 5px;
    box-sizing: border-box;
}

.rate_alert i {
    display: inline-block;
    width: 30px;
    height: 30px;
    float: right;
    background: url("images/stu.png") no-repeat -252px -22px;
    margin-top: 4px;
    margin-left: 7px;
}

.certificate_alert i {
    display: inline-block;
    width: 30px;
    height: 30px;
    float: right;
    background: url("images/stu.png") no-repeat -289px -22px;
    margin-top: 4px;
    margin-left: 7px;
}

.rate_alert span {
    background: #000;
    border-radius: 100%;
    color: #fffc00;
    width: 24px;
    height: 24px;
    display: inline-block;
    text-align: center;
    position: relative;
    top: 0px;
    line-height: 26px;
    font-family: iran-sans-bold;
    margin: 0 3px;
}

.course_page .course_details > .rate_area {
    width: 100%;
    height: 60px;
    margin-top: 20px;
    position: relative;
}

.course_page .course_details > .rate_area > .star_rate {
    width: 65%;
    height: 100%;
    float: right;
    text-align: center;
}

.course_page .course_details > .rate_area > .star_rate img {
    margin-top: 15px;
}

.course_page .course_details > .rate_area > .text_rate {
    width: 35%;
    height: 100%;
    float: left;
    text-align: center;
    font-family: iran-sans-bold;
    position: absolute;
    left: 0;
    bottom: 0px;
}

.text_rate p {
    margin-top: 21px;
}

.course_price a {
    display: block;
    width: 100%;
    height: 100%;
    color: #fff;
    font-family: iran-sans;
    line-height: 53px;
    font-size: 12pt;
}

.course_price:hover {
    background: #0b5e6d;
}

.size_time {
    width: 100%;
    height: 50px;
    background: #e1e1e1;
    position: absolute;
    bottom: -60px;
    left: 0px;
    border: 1px dashed #b4b4b4;
    box-sizing: border-box;
}

.size_time i {
    display: inline-block;
    width: 35px;
    height: 35px;
    float: right;
    background: url("images/stu.png") no-repeat -334px -21px;
    margin: 9px 10px 0 10px;
}

.size_time p {
    font-family: iran-sans-light;
    font-size: 9.5pt;
    line-height: 50px;
    margin: 0 10px;
}

.course_list_teacher {
    width: 100%;
    background: #f5f5f5;
}

.course_teacher {
    width: 385px;
    height: auto;
    background: #fff;
    float: right;
    margin-top: 15px;
    box-sizing: border-box;
    box-shadow: 0 2px 5px 0 #dadada;
    padding: 10px;
    position: relative;
}

.course_teacher:after {
    content: "";
    clear: both;
    display: block;
}

.teacher_img {
    width: 110px;
    height: 110px;
    border-radius: 100%;
    margin: 15px auto;
    position: absolute;
    top: 0px;
    left: 23px;
    box-shadow: 0 0 9px 0px #1b63e1;
    border: 2px solid #96cfe1;
}

.teacher_name {
    width: 100%;
    margin: 10px 0;
}

.teacher_name h4 span {
    color: #454545;
}

.teacher_name h4 i {
    display: inline-block;
    width: 35px;
    height: 9px;
    float: right;
    background: url("images/stu.png") no-repeat -431px -33px;
    position: relative;
    top: 17px;
    left: 20px;
}

.teacher_name h4 {
    line-height: 40px;
    font-size: 12pt;
    font-family: yekan;
    text-align: center;
    color: #555;
    margin-right: 10px;
    text-align: right;
}

.about_teacher p {
    margin-top: 40px;
}

.about_teacher {
    background: #e7f4ff;
    padding: 23px 15px 15px 15px;
    box-sizing: border-box;
    font-size: 10pt;
    font-family: iran-sans-light;
    text-align: justify;
    border-radius: 3px;
    border: 1px solid #cfe1ff;
    margin-top: 15px;
}

.about_teacher > h4 {
    text-align: right;
    color: #41adff;
}

.course_lecture {
    width: 780px;
    float: left;
    background: #fff;
    margin-top: 15px;
    box-shadow: 0 2px 5px 0 #dadada;
    padding: 15px;
    box-sizing: border-box;
    font-family: iran-sans-light;
}

.teacher_name > ul {
    padding: 15px;
}

.teacher_name > ul > li {
    list-style: none;
    line-height: 38px;
}

.teacher_name > ul > li:nth-child(odd) {
    background: #f1f5f5;
}

.teacher_name > ul > li > a {
    display: block;
    text-decoration: none;
    font-family: iran-sans;
    font-size: 10.8pt;
    color: #555;
}

.teacher_name > ul > li > a:hover {
    color: red;
}

.teacher_name > ul > li > a i {
    display: inline-block;
    width: 20px;
    height: 27px;
    background: url("images/stu.png") no-repeat -12px -102px;
    float: right;
    margin-top: 9px;
    margin-left: 8px;
}

.course_lecture_details {
    width: 25%;
    float: right;
    height: 80px;
    border-left: 2px solid #ededed;
    box-sizing: border-box;
    position: relative;
    cursor: pointer;
}

.course_lecture_details:hover span {
    display: block;
    width: 100%;
    height: 3px;
    background: #ff6e35;
    position: absolute;
    bottom: -13px;
    margin: 0 auto;
}

.course_lecture_list {
    width: 25%;
    float: right;
    height: 80px;
    border-left: 2px solid #ededed;
    box-sizing: border-box;
    position: relative;
    cursor: pointer;
}

.course_lecture_list:hover span {
    display: block;
    width: 100%;
    height: 3px;
    background: #ff6e35;
    position: absolute;
    bottom: -13px;
    margin: 0 auto;
}

.course_tab_active:after {
    content: "";
    display: block;
    width: 100%;
    height: 3px;
    background: #ff6e35;
}

.course_lecture_file {
    width: 25%;
    float: right;
    height: 80px;
    border-left: 2px solid #ededed;
    box-sizing: border-box;
    position: relative;
    cursor: pointer;
}

.course_lecture_file:hover span {
    display: block;
    width: 100%;
    height: 3px;
    background: #ff6e35;
    position: absolute;
    bottom: -13px;
    margin: 0 auto;
}

.course_lecture_students {
    width: 25%;
    float: right;
    height: 80px;
    position: relative;
    cursor: pointer;

}

.course_lecture_students:hover span {
    display: block;
    width: 100%;
    height: 3px;
    background: #ff6e35;
    position: absolute;
    bottom: -13px;
    margin: 0 auto;
}

.course_tab {
    width: 100%;
    height: 103px;
    border-bottom: 3px solid #ccc;
    text-align: center;
    line-height: 50px;
    font-size: 13pt;
    font-family: yekan;
    padding: 10px 0;
}

.course_tab i {
    display: block;
    width: 40px;
    height: 40px;
    background: url("images/stu.png") no-repeat;
    position: relative;
    margin: 0 auto;
}

.course_details_tab {
    width: 100%;
    margin-top: 15px;
    display: none;
    padding: 15px;
    box-sizing: border-box;
}

.course_lecture img {
    max-width: 100%;
}

.course_list_tab {
    width: 100%;
    margin-top: 15px;
    padding: 15px;
    box-sizing: border-box;
}

.course_file_tab {
    width: 100%;
    margin-top: 15px;
    display: none;
    padding: 15px;
    box-sizing: border-box;
}

.course_student_tab {
    width: 100%;
    margin-top: 15px;
    display: none;
    padding: 15px;
    box-sizing: border-box;
}

.course_list_tab ul li {
    list-style: none;
    height: 45px;
    line-height: 45px;
    border-bottom: 1px solid #f2f2f2;
}

.course_list_tab ul li span.time_lecture {
    display: inline-block;
    width: 120px;
    height: 43px;
    float: left;
    direction: ltr;
    text-align: left;
    color: black;
    line-height: 50px;
    border-right: 1px solid #ededed;
}

.course_list_tab ul li span.time_lecture i.time_icon {
    display: inline-block;
    width: 35px;
    height: 35px;
    float: left;
    background: url("images/stu.png") no-repeat -406px -98px;
}

.course_list_tab ul li span.num_lecture {
    display: inline-block;
    width: 120px;
    height: 43px;
    float: right;
    background: #f5f5f5;
    margin-left: 10px;
    padding: 0 13px 0 0;
    box-sizing: border-box;
    color: #4885d5;
}

.course_list_tab ul li span.num_lecture i.num_icon {
    display: inline-block;
    width: 35px;
    height: 35px;
    float: right;
    background: url("images/stu.png") no-repeat -355px -100px;
}

.course_list_tab ul li:last-child {
    border-bottom: 0;
}

.course_list_tab ul li a {
    text-decoration: none;
    font-size: 10.5pt;
    color: #444;
    display: block;
}

.course_list_tab ul li:hover a {
    color: red;
}

.course_student_tab ul li .date {
    width: 100px;
    height: 100px;
    background: url("images/stu.png") no-repeat -9px -164px;
    float: right;
    position: absolute;
    right: 0px;
    text-align: center;
}

.course_student_tab ul li .date span.date {
    line-height: 130px;
    font-size: 9pt;
    color: #c5331b;
}

.course_student_tab ul li .title {
    width: 610px;
    height: 40px;
    float: left;
}

.course_student_tab ul li .description {
    width: 610px;
    height: 110px;
    float: left;
}

.course_student_tab ul li {
    list-style: none;
    height: auto;
    margin-bottom: 40px;
    position: relative;
}

/*.course_student_tab ul {
    border-right: 3px dashed red;
}*/
.course_student_tab ul li:after {
    content: "";
    clear: both;
    display: block;
}

.course_student_tab ul li .title h5 {
    font-size: 11pt;
    line-height: 40px;
    margin-right: 15px;
    color: #328aba;
}

.course_student_tab ul li .title h5 i {
    display: inline-block;
    float: right;
    width: 25px;
    height: 25px;
    background: url('images/stu.png') no-repeat -458px -110px;
    margin-top: 5px;
    margin-left: 10px;
}

.course_student_tab ul li .description {
    width: 610px;
    float: left;
    border: 3px solid #e9e9e9;
    box-sizing: border-box;
    padding: 8px;
    height: auto;
    background: #f6f5ff;
}

.course_student_tab ul li .description p {
    font-size: 10pt;
    text-align: justify;
    color: #555;
    line-height: 30px;
}

.course_file_tab ul li {
    width: 100%;
    height: 45px;
    list-style: none;
    border-bottom: 1px solid #f2f2f2;
    line-height: 45px;
}

.course_file_tab ul li:last-child {
    border-bottom: 0;
}

.course_file_tab ul li a {
    text-decoration: none;
    font-size: 10pt;
    color: #444;
    display: block;
}

.course_file_tab ul li:hover a {
    color: red;
}

.course_file_tab ul li:nth-child(2n+1) {
    background: #f8f8f8;
}

.course_file_tab ul li a i.download_icon {
    display: inline-block;
    width: 25px;
    height: 25px;
    background: url("images/stu.png") no-repeat -135px -215px;
    position: relative;
    top: 10px;
    margin-left: 10px;
}

.course_file_tab ul li a i.size_icon {
    display: inline-block;
    width: 80px;
    height: 25px;
    background: #5e91d2;
    position: relative;
    top: 10px;
    margin-right: 10px;
    float: left;
    border: 1px solid #d7d7d7;
    box-sizing: border-box;
    border-radius: 5px;
    direction: ltr;
    text-align: center;
    font-family: Arial;
    font-weight: bold;
    line-height: 26px;
    color: #ffff;
}

.comment_qs {
    width: 100%;
    height: auto;
    background: #fff;
    padding: 15px;
    box-sizing: border-box;
    margin-top: 15px;
    box-shadow: 0 2px 5px 0 #dadada;
}

.comment_qs .faq {
    width: 33.333%;
    height: 60px;
    float: right;
    border-left: 2px solid #eaeaea;
    box-sizing: border-box;
    cursor: pointer;
    position: relative;
}

.comment_qs .comments {
    width: 33.333%;
    height: 60px;
    float: right;
    border-left: 2px solid #eaeaea;
    box-sizing: border-box;
    cursor: pointer;
    position: relative;
}

.comment_qs .rate_course {
    width: 33.333%;
    height: 60px;
    float: right;
    cursor: pointer;
    position: relative;
}

.faq_area {
    width: 100%;
    height: auto;
    background: #fff;
    margin-top: 15px;
    display: none;
}

.comments_area {
    width: 100%;
    height: auto;
    background: #fff;
    margin-top: 15px;
}

.comment_qs > .rate_area_cm {
    width: 100%;
    height: auto;
    background: #fff;
    margin-top: 15px;
    display: none;
}

.comment_qs > .rate_area_cm:after {
    content: "";
    display: block;
    clear: both;
}

.comm_faq_tab {
    width: 100%;
    height: 95px;
    padding: 15px;
    box-sizing: border-box;
    text-align: center;
    border-bottom: 3px solid #ccc;
    line-height: 60px;
    font-family: yekan;
}

.comm_faq_tab span.active {
    display: block;
    width: 81%;
    height: 3px;
    background: #ff7159;
    position: absolute;
    border-bottom: 0;
    bottom: -20px;
    right: 33px;
}

.comment_qs input {
    width: 90%;
    height: 40px;
    border: 1px solid #ddd;
    border-radius: 4px;
    background: #f8f8f8;
    padding-right: 42px;
    box-sizing: border-box;
    font-family: yekan;
    color: #555;
    margin-right: 15px;
}

.comment_qs textarea {
    width: 96.7%;
    max-width: 96.7%;
    height: 200px;
    border: 1px solid #ddd;
    border-radius: 4px;
    background: #f8f8f8;
    padding: 10px;
    box-sizing: border-box;
    font-family: iran-sans-light;
    color: #555;
    margin-right: 15px;
    font-size: 10pt;
}

.comments_area form i {
    display: inline-block;
    width: 30px;
    height: 30px;
    position: relative;
    float: right;
    top: 35px;
    right: 20px;
    font-size: 30px;
    color: #4f8cf8;
}

.comments_area .description {
    margin-top: 35px;
}

.comments_area form .name {
    width: 33.333%;
    height: 50px;
    float: right;
}

.comments_area form .family {
    width: 33.333%;
    height: 50px;
    float: right;
}

.comments_area form .email {
    width: 33.333%;
    height: 50px;
    float: right;
}

.submit_comment input {
    width: 150px;
    float: left;
    background: #49a7ed;
    color: #fff;
    margin-left: 21px;
    height: 50px;
    cursor: pointer;
    font-size: 12pt;
    padding: 0;
    text-align: center;
}

.num_comment {
    margin: 50px 0 30px 0;
    width: 100%;
    height: 1px;
    background: #ececec;
    text-align: center;
    position: relative;
}

.num_comment span {
    position: absolute;
    top: -12px;
    z-index: 3;
    font-size: 11pt;
    font-family: iran-sans;
    color: #666;
    display: inline-block;
    width: 200px;
    height: 32px;
    text-align: center;
}

.num_comment:after {
    content: "";
    width: 200px;
    height: 40px;
    background: #f1f5f5;
    display: inline-block;
    position: relative;
    top: -20px;
}

/*order page style ......................................................................................*/

.show_cart_main {
    background: #f5f5f5;
    width: 100%;
    height: auto;
    box-sizing: border-box;
    margin-top: 15px;
}

.show_cart_title {
    width: 100%;
    height: 70px;
    background: #ffffff;
    padding: 15px;
    box-sizing: border-box;
    margin-bottom: 15px;
}

.show_cart_table {
    width: 100%;
    margin-top: 15px;
    background: #fff;
    box-shadow: 0 2px 5px 0 #dadada;
    padding: 15px;
    box-sizing: border-box;
}

.show_cart_table .right_img {
    float: right;
    width: 110px;
    margin: 15px;
    margin-top: 22px;
}

.show_cart_table .right_img img {
    border-radius: 100%;
}

.show_cart_table .left_details {
    float: right;
    margin: 15px;
}

.show_cart_table .left_details ul {
    float: right;
    margin-top: 15px;
    margin-right: 15px;
}

.show_cart_table .left_details ul li {
    list-style: none;
    font-size: 9pt;
    font-family: iran-sans;
    height: 25px;
    color: #444;
}

.show_cart_table .left_details ul li i {
    display: inline-block;
    width: 15px;
    height: 15px;
    float: right;
    margin: 3px 0 0 5px;
    color: #555;
}

.show_cart_table .left_details h5 {
    font-size: 12pt;
}

.show_cart_table .left_details h5 a {
    text-decoration: none;
    color: #3ba6ff;
}

.show_cart_table table {
    width: 100%;
    font-family: yekan;
    font-size: 11pt;
}

.show_cart_table table tr:first-child {
    background: #f6f6f6;
    height: 50px;
    text-align: center;
    color: #000;
}

.show_cart_table table td {
    border-left: 1px solid #f2f2f2;
    box-sizing: border-box;
}

.show_cart_table table td:first-child {
    border-right: 1px solid #f2f2f2;
    box-sizing: border-box;
}

.show_cart_table table td {
    border-bottom: 1px solid #f2f2f2;
    box-sizing: border-box;
}

.show_cart_table .num_order {
    background: #f2f2f2;
    width: 70%;
    height: 32px;
    margin: 0 auto;
    border: 1px solid #ccc;
    border-radius: 3px;
    cursor: pointer;
    position: relative;
}

.show_cart_table .num_order span {
    display: inline-block;
    margin-right: 5px;
    color: #555;
}

.show_cart_table .num_order i {
    display: inline-block;
    width: 15px;
    height: 15px;
    float: left;
    margin-top: 8px;
    color: #555;
    margin-left: 3px;
}

.show_cart_table .num_order li {
    list-style: none;
    font-family: iran-sans-bold;
    color: #777;
    z-index: 10;
}

.show_cart_table .num_order li:hover {
    color: #555;
}

.show_cart_table .num_order ul {
    width: 96px;
    height: auto;
    background: #fff;
    padding: 10px;
    box-sizing: border-box;
    box-shadow: 0 0 4px 0px #ccc;
    margin-top: 0px;
    z-index: 5 !important;
    position: absolute;
    right: 0;
}

.show_cart_table .total_price {
    float: right;
    width: 180px;
    height: 146px;
    line-height: 146px;
}

.show_cart_table .remove_icon {
    float: left;
    width: 30px;
    background: #d1e3ff;
    height: 147px;
}

.show_cart_table .remove_icon i {
    width: 20px;
    height: 20px;
    display: block;
    margin-top: 67px;
    margin-right: 4px;
}

.show_cart_table .remove_icon a {
    text-decoration: none;
    font-size: 15pt;
    color: black;

}

.show_cart_table tr:nth-child(odd) .remove_icon {
    background: #ffd0d0;
}

.show_cart_table tr:nth-child(odd) {
    background: #f6fafa;
}

.show_cart_title .title {
    float: right;
    width: 50%;
    height: 50px;
    font-size: 14pt;
    font-family: yekan;
    color: #444;
    line-height: 46px;
}

.discount_code {
    width: 100%;
    height: 250px;
    border: 1px solid #f1f1f1;
    margin-top: 25px;
    padding: 15px;
    box-sizing: border-box;
}

.discount_code .discount_code_input {
    width: 50%;
    height: 100%;
    float: right;
}

.discount_code .total_buy {
    width: 50%;
    height: 100%;
    float: left;
    padding-top: 25px;
    box-sizing: border-box;
}

.discount_code .discount_code_input input {
    width: 50%;
    height: 40px;
    margin-top: 30px;
    border: 1px solid #ccc;
    background: #f6f6f6;
    padding-right: 15px;
    border-radius: 0 5px 5px 0;
    font-size: 10pt;
    font-family: yekan;
}

.discount_code .discount_code_input a {
    text-decoration: none;
    display: inline-block;
    width: 22%;
    height: 42px;
    background: #44a7dd;
    color: #fff;
    font-size: 10pt;
    font-family: yekan;
    line-height: 40px;
    margin-right: -5px;
    position: relative;
    bottom: 1px;
    text-align: center;
    padding-left: 10px;
    border-radius: 5px 0 0 5px;
}

.discount_code .total_buy .total_pay_cart {
    width: 90%;
    height: 60px;
    float: left;
    border: 1px solid #7cc3ff;
    font-size: 11pt;
    font-family: iran-sans;
    padding-right: 15px;
    box-sizing: border-box;
    line-height: 60px;
    color: #555;
}

.total_pay_cart span {
    color: red;
}

.discount_code .total_buy .total_pay_you {
    width: 90%;
    height: 60px;
    float: left;
    font-size: 11pt;
    font-family: iran-sans;
    padding-right: 15px;
    box-sizing: border-box;
    line-height: 60px;
    color: #555;
    border-bottom: 1px solid #7cc3ff;
    border-right: 1px solid #7cc3ff;
    border-left: 1px solid #7cc3ff;
    background: #f2f8ff;
}

.total_pay_you span {
    color: red;
}

.discount_code .total_buy .total_pay_cart i {
    display: inline-block;
    width: 200px;
    height: 30px;
    background: #fff300;
    float: left;
    margin: 15px;
    border-radius: 15px;
    line-height: 33px;
    font-size: 9pt;
    text-align: center;
}

.login_register_area {
    width: 100%;
    height: 250px;
    margin-top: 20px;
    border: 1px solid #f1f1f1;
    box-sizing: border-box;
    padding: 15px;
}

.login_register_area .login {
    width: 50%;
    height: 100%;
    box-sizing: border-box;
    float: right;
    position: relative;
}

.login_register_area .register {
    width: 50%;
    height: 100%;
    box-sizing: border-box;
    float: left;
    position: relative;
}

.login_register_area .register h6 {
    margin-bottom: 15px;
}

.login_register_area .register .register_button {
    position: absolute;
    left: 20px;
    width: 150px;
    height: 100px;
    top: 57px;
    background: #44a7dd;
    text-align: center;
}

.login_register_area .register .register_button a {
    text-decoration: none;
    font-size: 11pt;
    font-family: yekan;
    color: #fff;
    height: 100%;
    display: inline-block;
    width: 100%;
    line-height: 148px;
}

.login_register_area .register .register_button a i {
    display: inline-block;
    width: 60px;
    height: 50px;
    position: absolute;
    top: 5px;
    margin-top: 5px;
    right: 45px;
    font-size: 50px;
}

.login_register_area .register input {
    width: 380px;
    height: 40px;
    margin-top: 15px;
    border: 1px solid #ccc;
    border-radius: 3px 0 0 3px;
    padding-right: 12px;
    font-family: yekan;
    background: #f6f6f6;
}

.login_modal {
    margin-top: 25px;
    background: #e8f9e5;
    height: 35px;
    width: 552px;
    font-size: 10pt;
    font-family: yekan;
    text-align: center;
    line-height: 30px;
    color: #555;
}

.login_modal span {
    color: red;
    cursor: pointer;
}

.login_register_area .login p {
    font-size: 10pt;
    font-family: iran-sans-light;
    color: #666;
    margin-top: 15px;
    margin-left: 40px;
    text-align: justify;
}

.post_checkbox {
    margin-top: 20px;
    height: 30px;
    position: relative;
}

.post_checkbox Span {
    font-family: yekan;
    font-size: 11pt;
    color: #2a8ab7;
    display: inline-block;
    margin-right: 10px;
}

.post_checkbox input {
    float: right;
    position: relative;
    top: 10px;
    z-index: 5;
    opacity: 0;
}

.post_checkbox i {
    display: inline-block;
    width: 16px;
    height: 16px;
    float: right;
    position: absolute;
    right: -1px;
    top: 8px;
    font-size: 12px;
    color: #fff;
    padding-top: 2px;
    box-sizing: border-box;
    padding-right: 1px;
    border-radius: 3px;
    background: #2d81c9;
}

.post_checkbox i.fas fa-check {

}

.post_form_area {
    width: 100%;
    border: 1px solid #f1f1f1;
    margin-top: 20px;
    padding: 15px;
    box-sizing: border-box;
    height: auto;
    display: none;
}

.post_form_area:after {
    content: "";
    clear: both;
    display: block;
}

.post_form_area p {
    font-size: 10pt;
    font-family: iran-sans;
    color: #666;
    margin-top: 15px;
    background: #fff1fe;
    line-height: 40px;
    padding-right: 15px;
}

.post_form_right {
    float: right;
    width: 50%;
    margin-top: 40px;
    position: relative;
    height: auto;
}

.post_form_left {
    float: left;
    width: 50%;
    margin-top: 40px;
    position: relative;
    height: auto;
}

.post_form_right input {
    display: block;
    width: 480px;
    height: 45px;
    border: 1px solid #efefef;
    border-radius: 5px 0 0 5px;
    background: #f9f9f9;
    padding-right: 145px;
    box-sizing: border-box;
    font-family: yekan;
    color: #777;
}

.post_form_right textarea {
    display: block;
    width: 350px;
    max-width: 350px;
    border: 1px solid #efefef;
    background: #f9f9f9;
}

.post_form_right div {
    height: 55px;
}

.post_form_right div.text {
    height: 210px;
}

.post_form_right label {
    font-family: yekan;
    font-size: 10pt;
    color: #555;
    display: block;
    position: absolute;
    width: 130px;
    height: 45px;
    background: #efefef;
    text-align: right;
    padding-right: 45px;
    box-sizing: border-box;
    line-height: 36px;
}

.post_form_right label i {
    display: inline-block;
    float: right;
    width: 25px;
    height: 25px;
    position: absolute;
    right: 12px;
    top: 12px;
    font-size: 16px;

}

.post_form_left input {
    display: block;
    width: 480px;
    height: 45px;
    border: 1px solid #efefef;
    border-radius: 5px 0 0 5px;
    background: #f9f9f9;
    padding-right: 145px;
    box-sizing: border-box;
    font-family: yekan;
    color: #777;
}

.post_form_left textarea {
    display: block;
    width: 480px;
    max-width: 480px;
    border: 1px solid #efefef;
    background: #f9f9f9;
    box-sizing: border-box;
    padding-right: 15px;
    font-family: yekan;
    font-size: 9pt;
    height: 150px;
    color: #666;
}

.post_form_left div {
    height: 55px;
}

.post_form_left div.text {
    height: 170px;
}

.post_form_left label {
    font-family: yekan;
    font-size: 10pt;
    color: #555;
    display: block;
    position: absolute;
    width: 130px;
    height: 45px;
    background: #efefef;
    text-align: right;
    padding-right: 45px;
    box-sizing: border-box;
    line-height: 36px;
}

.post_form_left label i {
    display: inline-block;
    float: right;
    width: 25px;
    height: 25px;
    position: absolute;
    right: 12px;
    top: 12px;
    font-size: 16px;

}

.post_form_left .submit_post {
    width: 200px;
    height: 40px;
    float: left;
    margin-left: 90px;

}

.post_form_left .submit_post input {
    width: 200px;
    height: 40px;
    padding: 0;
    text-align: center;
    background: #44a7dd;
    color: #fff;
    cursor: pointer;
}

.final_pay {
    width: 90%;
    float: left;
    margin-top: 17px;
    background: #719f41;
    height: 55px;
    border-radius: 10px;
    line-height: 40px;
    box-sizing: border-box;
    padding: 8px;
    text-align: center;
}

.final_pay_text {
    float: right;
    width: 60%;
    border-left: 1px solid #fff;
    height: 100%;
    position: relative;
}

.final_pay_text i {
    display: inline-block;
    width: 40px;
    height: 40px;
    float: right;
    position: absolute;
    right: 0;
    font-size: 35px;
}

.final_pay_price {
    float: left;
    width: 38%;
    height: 100%;
    background: #13741b;
    border-radius: 25px;
}

.final_pay a {
    text-decoration: none;
    color: #fff;
    font-size: 11pt;
    font-family: iran-sans;
}

.comments_area > ul {
    height: auto;
    float: right;
    margin-top: 45px;
}

.faq_area > ul {
    height: auto;
    float: right;
    margin-top: 45px;
}

.comments_area > ul > li {
    height: auto;
    list-style: none;
    width: 100%;
    float: right;
    padding: 15px;
    box-sizing: border-box;
    margin-bottom: 15px;
    border-bottom: 1px dashed #e7e7e7;
    position: relative;
}

.faq_area > ul > li {
    height: auto;
    list-style: none;
    width: 100%;
    float: right;
    padding: 15px;
    box-sizing: border-box;
    margin-bottom: 15px;
    border-bottom: 1px dashed #e7e7e7;
    position: relative;
}

.comments_area ul li:last-child {
    border-bottom: 0;
}

.faq_area ul li:last-child {
    border-bottom: 0;
}

.comments_area .user_pic {
    width: 350px;
    height: 150px;
    float: right;
}

.faq_area .user_pic {
    width: 350px;
    height: 150px;
    float: right;
}

.comments_area .user_pic img {
    width: 100px;
    height: 100px;
    border-radius: 100%;
    border: 2px solid #f0f0f0;
    box-sizing: border-box;
    padding: 2px;
}

.faq_area .user_pic img {
    width: 100px;
    height: 100px;
    border-radius: 100%;
    border: 2px solid #f0f0f0;
    box-sizing: border-box;
    padding: 2px;
}

.comments_area:after {
    content: "";
    clear: both;
    display: block;
}

.faq_area:after {
    content: "";
    clear: both;
    display: block;
}

.user_comment {
    float: left;
    width: 993px;
    padding: 20px 0px;
    box-sizing: border-box;
}

.user_comment p:nth-child(1) {
    font-size: 11pt;
    font-family: iran-sans;

}

.user_comment p:nth-child(2) {
    font-size: 9pt;
    font-family: iran-sans;

}

.user_comment p:nth-child(3) {
    font-size: 10pt;
    font-family: yekan;
    margin-top: 20px;
    color: #666;
    text-align: justify;
    line-height: 30px;

}

.comments_area ul > li > ul > li {
    background: #f6f6f6;
    border: 1px solid #e9e9e9;
    width: 90%;
    margin-right: 110px;
    border-radius: 10px;
    float: right;
    list-style: none;
    margin-bottom: 10px;
    padding: 15px;
    box-sizing: border-box;
}

.faq_area ul > li > ul > li {
    background: #f6f6f6;
    border: 1px solid #e9e9e9;
    width: 90%;
    margin-right: 110px;
    border-radius: 10px;
    float: right;
    list-style: none;
    margin-bottom: 10px;
    padding: 15px;
    box-sizing: border-box;
}

.comments_area ul > li > ul > li:last-child {
    border-bottom: 1px solid #e9e9e9;
}

.faq_area ul > li > ul > li:last-child {
    border-bottom: 1px solid #e9e9e9;
}

.comments_area ul > li > ul > li:last-child {
    border-bottom: 1px solid #e9e9e9;
}

.faq_area ul > li > ul > li:last-child {
    border-bottom: 1px solid #e9e9e9;
}

.comments_area ul > li > ul > li:first-child {
    margin-top: 15px;
}

.faq_area ul > li > ul > li:first-child {
    margin-top: 15px;
}

.comments_area ul > li > ul > li .user_comment {
    width: 835px;
}

.faq_area ul > li > ul > li .user_comment {
    width: 835px;
}

.reply button {
    width: 100px;
    height: 40px;
    background: #33b3a5;
    border: 0;
    color: #fff;
    font-size: 11pt;
    font-family: yekan;
    border-radius: 5px;
    cursor: pointer;
}

.reply button:hover {
    background: #25b38f;
}



.pagnation {
    width: 100%;
    height: 50px;
    margin: 30px auto 0 auto;
    text-align: center;
}

.pagnation .page_align {
    width: 50%;
    height: 50px;
    margin: 0 auto;
    text-align: center;
    border-radius: 0 0 35px 35px;
}

.pagnation ul {
    float: right;
    display: block;
    width: 100%;
    height: 100%;
    padding-right: 18.5%;
    margin-top: 7px;
}

.pagnation .page_align > ul > li {
    float: right;
    list-style: none;
    width: 55px;
    height: 35px;
    direction: ltr;
    line-height: 35px;
    background: #49a7ed;
    margin-left: 5px;
    border-radius: 6px;
}

.pagnation .page_align > ul > li:hover {
    background: #56c7ed;
}

.pagnation .page_align > ul > li a {
    text-decoration: none;
    font-family: iran-sans;
    font-size: 10pt;
    display: block;
    color: #fff;
}

.rate_cm_left {
    float: left;
    width: 65%;
    padding: 50px 0 !important;
    box-sizing: border-box;
}

.rate_cm_right h5 {
    text-align: center;
    margin: 15px 0;
}

.rate_cm_left ul li {
    list-style: none;
}

.rate_cm_right {
    float: right;
    width: 35%;
    text-align: center;
    padding: 50px;
    box-sizing: border-box;
}

.rate_cm_right h6 {
    margin: 15px 0;
}

.rate_cm_right h6 a {
    text-decoration: none;
    color: #555;
}

.rate_cm_left input {
    width: 150px;
    float: left;
    background: #49a7ed;
    color: #fff;
    margin-left: 21px;
    height: 50px;
    cursor: pointer;
    font-size: 12pt;
    padding: 0;
    text-align: center;
}

.rate_cm_right li {
    list-style: none;
}

.course_page .course_details > .rate_area .counter {
    position: absolute;
    bottom: 30px;
    right: 180px;
    font-family: iran-sans;
    width: 40px;
    height: 23px;
    background: #f9ff00;
    text-align: center;
    border-radius: 10px;
}

.br-current-rating {
    font-family: yekan;
    direction: rtl;
    text-align: right !important;
}

.br-wrapper.br-theme-bars-movie {
    padding-top: 15px;
    float: right;
}

.br-wrapper.br-theme-css-stars {
    float: right;
}

.rate_description p {
    margin-top: 15px;
    text-align: justify;
    font-size: 10pt;
    font-family: iran-sans-light;
    line-height: 33px;
    color: #666;
    background: #f1f6ff;
    padding: 30px;
    box-sizing: border-box;
    border-right: 7px solid #5ebdd7;
}

/*teacher panel area .............................................................................*/

.teacher_panel_area {
    margin-top: 15px;
    box-sizing: border-box;
    background: #f5f5f5;
    padding: 10px;
    width: 100%;
    height: auto;
}

.teacher_menu_bar {
    width: 100%;
    padding: 30px 0px;
    box-sizing: border-box;
    height: 170px;
    background: #fff;
    box-shadow: 0 2px 5px 0 #dadada;
    text-align: center;
}

.teacher_menu_bar ul {
    float: right;
    width: 100%;
    height: 100%;
}

.teacher_menu_bar ul li {
    width: 16.66%;
    height: 100%;
    float: right;
    list-style: none;
    position: relative;
    line-height: 170px;
    border-left: 2px solid #f2f2f2;
    box-sizing: border-box;
}

.teacher_menu_bar ul li:last-child {
    border-left: 0;
}

.teacher_menu_bar ul li i {
    display: block;
    width: 65px;
    height: 65px;
    font-size: 35pt;
    position: absolute;
    right: 37%;
    color: #666;
}

.teacher_menu_bar ul li.active::after {
    content: "";
    display: block;
    width: 100%;
    height: 5px;
    background: #ff7d36;
    position: absolute;
    bottom: -30px;
}

.teacher_menu_bar ul li a {
    display: block;
    width: 100%;
    height: 100%;
    text-decoration: none;
    font-size: 16pt;
    font-family: yekan;
    color: #222;
}

.teacher_profile .user_profile label {
    display: block;
    height: 40px;
    font-family: yekan;
    font-size: 10pt;
    margin-top: 25px;
}

.teacher_profile .user_profile input {
    width: 100%;
    height: 55px;
    background: #eee;
    border: 1px solid #ccc;
    padding-right: 15px;
    box-sizing: border-box;
    font-family: iran-sans;
}

.teacher_profile .user_profile h6 {
    margin-top: 45px;
    border-bottom: 1px solid #ccc;
    line-height: 80px;
    font-size: 16pt;
}

.teacher_profile .user_profile textarea {
    width: 100%;
    height: 150px;
    background: #eee;
    border: 1px solid #ccc;
    padding: 15px;
    box-sizing: border-box;
    font-family: iran-sans;
}

.teacher_profile .user_profile input[type=submit] {
    width: 250px;
    height: 55px;
    background: #51bfff;
    color: #fff;
    margin: 30px 0;
    float: left;
    font-size: 12pt;
    font-family: yekan;
    border: 1px solid #4dabff;
    cursor: pointer;
}

.teacher_profile {
    width: 100%;
    height: auto;
    background: #fff;
    margin: 15px 0;
    box-shadow: 0 2px 5px 0 #dadada;
    padding: 40px 15px;
    box-sizing: border-box;
    position: relative;
}

.teacher_profile::after {
    content: "";
    display: block;
    clear: both;
}

.teacher_private_info {
    width: 33.33%;
    height: 100%;
    padding: 15px;
    box-sizing: border-box;
    float: right;
}

.teacher_personal_info {
    width: 33.33%;
    height: 100%;
    padding: 15px;
    box-sizing: border-box;
    float: right;
}

.teacher_contact_info {
    width: 33.33%;
    height: 100%;
    padding: 15px;
    box-sizing: border-box;
    float: right;
}

.user_courses {
    width: 100%;
    height: auto;
    background: #fff;
    margin-top: 15px;
    box-shadow: 0 2px 5px 0 #dadada;
    padding: 15px;
    box-sizing: border-box;
    font-family: iran-sans-light;
    font-size: 10pt;
}

.user_courses::after {
    content: "";
    display: block;
    clear: both;
}

.user_courses table {
    width: 100%;
    margin-top: 0;
    margin-bottom: 50px;
}

.user_courses table tr:nth-child(odd) {
    background: #f2f2f2;
}

.user_courses table tr:first-child {
    text-align: center;
    background: #00c2e5;
    height: 50px;
    padding: 0;
    color: #fff;
}

.user_courses table tr td {
    height: 50px;
    min-height: 50px;
    text-align: center;
    padding: 10px;
}

.teacher_courses {
    width: 100%;
    height: auto;
    background: #fff;
    margin-top: 15px;
    box-shadow: 0 2px 5px 0 #dadada;
    padding: 15px;
    box-sizing: border-box;
    font-family: iran-sans-light;
    font-size: 10pt;
    position: relative;
}

.teacher_courses::after {
    content: "";
    display: block;
    clear: both;
}

.teacher_courses table {
    width: 100%;
    margin-top: 0;
    margin-bottom: 50px;
}

.teacher_courses table tr:nth-child(odd) {
    background: #f2f2f2;
}

.teacher_courses table tr:first-child {
    text-align: center;
    background: #00c2e5;
    height: 50px;
    padding: 0;
    color: #fff;
}

.teacher_courses table tr td {
    height: 50px;
    min-height: 50px;
    text-align: center;
    padding: 10px;
}

.add_course_area {
    width: 250px;
    height: 70px;
    position: absolute;
    top: 23px;
    left: 15px;
}

.add_course_area a {
    text-decoration: none;
    display: block;
    width: 100%;
    height: 100%;
    color: #fff;
    line-height: 67px;
    font-size: 14pt;
}

.add_course_area .add_course {
    width: 100%;
    height: 70px;
    float: right;
    background: #00778c;
    border-radius: 0 5px 5px 0;
    text-align: center;
    box-sizing: border-box;
    position: relative;
}

.add_cours_this {
    width: 100%;
    height: 40px;
    margin: 15px 0;
}

.add_cours_this ul li {
    list-style: none;
    float: right;
    height: 100%;
    line-height: 40px;
    margin-left: 20px;
}

.add_cours_this ul li i {
    display: inline-block;
    width: 17px;
    height: 17px;
    float: right;
    margin: 12px 0 0 0px;
    font-size: 10pt;
    color: #06f;
}

.add_cours_this ul li a {
    text-decoration: none;
    color: #06f;
    font-size: 9pt;
}

.add_course {
    width: 800px;
    height: auto;
    margin: 0 auto;
}

.teacher_courses label {
    display: block;
    margin-bottom: 10px;
    margin-top: 30px;
}

.teacher_courses input {
    width: 100%;
    height: 55px;
    background: #ededed;
    border: 1px solid #ccc;
    padding-right: 15px;
    font-family: yekan;
}

.teacher_courses input[type=submit] {
    width: 250px;
    height: 55px;
    background: #00a5ff;
    color: #fff;
    float: left;
    margin: 30px 0 30px 0;
    font-family: yekan;
    font-size: 12pt;
    cursor: pointer;
}

.teacher_courses select {
    width: 100%;
    height: 55px;
    background: #ededed;
    font-family: yekan;
    font-size: 12pt;
    cursor: pointer;
    border: 1px solid #ccc;
}

.add_lecture {
    width: 100%;
    height: auto;
    padding: 15px;
    box-sizing: border-box;
    margin-top: 40px;
}

.add_lecture tr td {
    padding: 10px;
    box-sizing: border-box;
}

.add_lecture tr td a {
    text-decoration: none;
    font-size: 10pt;
}

.mojudi {
    width: 450px;
    height: 70px;
    float: left;
}

.mojudi .text {
    width: 50%;
    height: 100%;
    float: right;
    color: #000;
    line-height: 66px;
    font-size: 14pt;
    font-family: yekan;
    text-align: center;
}

.mojudi .money {
    width: 50%;
    height: 100%;
    float: left;
    color: #000;
    text-align: center;
    line-height: 69px;
    font-size: 14pt;
    border: 3px solid #146326;
    box-sizing: border-box;
    border-radius: 5px 0 0 5px;
}

.credit {
    width: 300px;
    height: 50px;
    float: left;
    margin: 15px 0;
}

.credit a {
    text-decoration: none;
    color: #fff;
    display: block;
}

.credit .sharj {
    float: right;
    width: 50%;
    height: 100%;
    line-height: 50px;
    text-align: center;
    background: #168d74;
    border-left: 2px solid #fff;
    box-sizing: border-box;
    position: relative;
}

.credit .sharj::after {
    content: "";
    width: 25px;
    height: 25px;
    position: absolute;
    left: -13px;
    top: 13px;
    border-radius: 100%;
    background: #fff;
}

.credit .tasviye {
    float: left;
    width: 50%;
    height: 100%;
    line-height: 50px;
    text-align: center;
    background: #168d74;
}

.course_count_down {
    width: 100%;
    height: 70px;
    background: #fff;
    margin-bottom: 15px;
    padding: 15px;
    box-sizing: border-box;
    box-shadow: 0 2px 5px 0 #dadada;
}

.course_count_down ul li {
    float: right;
    width: 25%;
    height: 100%;
    font-family: iran-sans;
    font-size: 10pt;
    list-style: none;
    line-height: 42px;
}

.course_count_down ul li i {
    display: inline-block;
    width: 43px;
    height: 40px;
    float: right;
    margin: 2px 5px;
    font-size: 16pt;
    color: #fff;
    border: 3px solid #6eb8ef;
    border-radius: 100%;
    text-align: center;
    vertical-align: middle;
    padding: 5px;
    box-sizing: border-box;
    background: black;
}

.course_location {
    width: 385px;
    height: 300px;
    background: #fff;
    float: right;
    margin-top: 15px;
    box-sizing: border-box;
    box-shadow: 0 2px 5px 0 #dadada;
    padding: 10px;
    position: relative;
}

.course_location:after {
    content: "";
    clear: both;
    display: block;
}

.course_locaton {
    width: 100%;
    height: auto;
    background: #fff;
    margin-top: 15px;
    box-shadow: 0 2px 5px 0 #dadada;
    padding: 40px 15px;
    box-sizing: border-box;
    font-family: iran-sans-light;
}

.course_locaton::after {
    content: "";
    display: block;
    clear: both;
}

.course_locaton h6 {
    font-size: 11pt;
    color: #2598ff;
    font-family: yekan;
}

.course_locaton h6 i {
    display: inline-block;
    width: 20px;
    height: 20px;
    float: right;
    margin: 5px;
    font-size: 20px;
    color: #2598ff;
}

.course_hozuri {
    width: 65%;
    height: 100%;
    float: right;
    padding: 0 15px;
    box-sizing: border-box;
}

.course_location_map {
    width: 35%;
    height: 100%;
    float: left;
}

/*blog style css ..............................................................................*/

.blogarea {
    width: 100%;
    height: auto;
    margin-top: 15px;
    box-sizing: border-box;
    background: #f5f5f5;
    padding: 10px;
}

.blogarea::after {
    content: "";
    display: block;
    clear: both;
}

.blogarea .blog_right {
    width: 385px;
    height: auto;
    box-shadow: 0 2px 5px 0 #dadada;
    background: #fff;
    float: right;
    padding: 15px;
    box-sizing: border-box;
}

.blogarea .blog_left {
    width: 780px;
    height: auto;
    box-shadow: 0 2px 5px 0 #dadada;
    background: #fff;
    float: left;
    padding: 15px;
    box-sizing: border-box;
}

.blog_main_image {
    width: 100%;
    height: 350px;
}

.blog_main_image img {
    width: 100%;
    height: 100%;
}

.blog_details {
    width: 100%;
    height: 40px;
    margin: 15px 0;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    background: #fff;
}

.blog_details ul li {
    float: right;
    list-style: none;
    line-height: 40px;
    font-size: 9pt;
    font-family: iran-sans;
    height: 40px;
    width: 33.333%;
}

.blog_details ul li i {
    display: inline-block;
    float: right;
    width: 20px;
    height: 20px;
    margin: 9px;
    font-size: 17px;
    color: #555;
}

.blog_content {
    width: 100%;
    height: auto;
    padding: 15px;
    box-sizing: border-box;
    font-family: iran-sans-light;
    text-align: justify;
    font-size: 10pt;
    line-height: 30px;
    color: #555;
}

.blog_content img {
    max-width: 100%;
}

.blogarea .blog_left h1 {
    margin: 30px 0;
    font-size: 16pt;
    color: #189cc3;
    font-family: iran-sans;
}

.download_box {
    width: 100%;
    height: auto;
    box-sizing: border-box;
    margin-top: 30px;
    border: 1px solid #ff870033;
}

.download_box::after {
    content: "";
    display: block;
    clear: both;
}

.download_box ul {
    list-style: none;
    width: 100%;
    height: 100%;
    float: right;
    padding: 30px;
    box-sizing: border-box;
}

.download_box ul li {
    line-height: 45px;
    font-family: iran-sans-light;
    font-size: 11pt;
    border-bottom: 1px solid #f1f1f1;
    position: relative;
}

.download_box ul li:last-child {
    border-bottom: 0;
}

.download_box ul li i {
    display: inline-block;
    float: right;
    width: 25px;
    height: 25px;
    margin: 13px 0 0 5px;
}

.download_box ul li span {
    display: inline-block;
    float: left;
    line-height: 45px;
    border-right: 1px solid #eee;
    width: 150px;
    text-align: center;
    font-size: 9pt;
    position: absolute;
    left: 0;
    top: 0;
}

.download_box ul li a {
    text-decoration: none;
    color: #444;
    display: block;
}

.download_box ul li:hover a {
    color: red;
}

.download_box h6 {
    line-height: 45px;
    background: #fb6e52;
    color: #fff;
    padding-right: 25px;
}

.blog_right > ul {
    height: 50px;
    background: whitesmoke;
}

.blog_right > ul > li {
    list-style: none;
    font-family: yekan;
    width: 50%;
    float: right;
    text-align: center;
    line-height: 50px;
    color: #555;
    cursor: pointer;
}

.blog_right > ul > li.active {
    background: #719f41;
    color: #fff;
}

.new_blog {
    width: 100%;
    height: auto;
    margin-top: 20px;
}

.new_blog::after {
    content: "";
    display: block;
    clear: both;
}

.popular_blog {
    display: none;
}

.new_blog ul li {
    list-style: none;
    float: right;
    width: 100%;
    border-bottom: 1px dashed #ededed;
    padding: 12px 0;
    position: relative;
}

.new_blog ul li:last-child {
    border-bottom: 0;
}

.new_blog ul li:nth-child(even) {
    background: #f6f6f6;
}

.new_blog ul li a {
    display: block;
    color: #555;
}

.new_blog ul li .left_title {
    float: left;
    width: 285px;
    height: auto;
}

.new_blog ul li .left_title h4 {
    font-size: 9.5pt;
    font-family: yekan;
    color: #777;
}

.new_blog ul li .right_img {
    width: 60px;
    height: 60px;
    float: right;
}

.new_blog ul li .right_img img {
    width: 60px;
    height: 60px;
    border-radius: 100%;
}

.new_blog ul li Span {
    display: block;
    float: left;
    font-family: iran-sans;
    font-size: 7pt;
    color: #2ca6c0;
    position: absolute;
    left: 9px;
    bottom: 3px;
}

.popular_blog {
    width: 100%;
    height: auto;
    margin-top: 20px;
    display: none;
}

.popular_blog ul li {
    list-style: none;
    float: right;
    width: 100%;
    border-bottom: 1px dashed #ededed;
    padding: 12px 0;
    position: relative;
}

.popular_blog ul li:last-child {
    border-bottom: 0;
}

.popular_blog ul li:nth-child(even) {
    background: #f6f6f6;
}

.popular_blog ul li a {
    display: block;
    color: #555;
}

.popular_blog ul li .left_title {
    float: left;
    width: 285px;
    height: auto;
}

.popular_blog ul li .left_title h4 {
    font-size: 9.5pt;
    font-family: yekan;
    color: #474747;
}

.popular_blog ul li .right_img {
    width: 60px;
    height: 60px;
    float: right;
}

.popular_blog ul li .right_img img {
    width: 60px;
    height: 60px;
    border-radius: 100%;
}

.popular_blog ul li Span {
    display: block;
    float: left;
    font-family: iran-sans;
    font-size: 7pt;
    color: #9a9a9a;
    position: absolute;
    left: 9px;
    bottom: 3px;
}

.blog_mortabet {
    width: 780px;
    height: auto;
    margin-top: 15px;
    box-shadow: 0 2px 5px 0 #dadada;
    background: #fff;
    float: left;
    padding: 15px;
    box-sizing: border-box;
}

.blog_mortabet h6 {
    position: relative;
    padding-right: 5px;
    color: black;
    border-bottom: 2px solid #ccc;
    line-height: 50px;
}

.blog_mortabet ul {
    float: right;
    width: 100%;
    height: auto;
    margin-top: 20px;
}

.blog_mortabet ul li {
    list-style: none;
    font-family: yekan;
}

.blog_mortabet ul li a {
    text-decoration: none;
    color: #144c92;
    display: block;

}

.blog_mortabet ul li:hover a {
    color: black;

}

.blog_mortabet ul .right {
    width: 50%;
    height: auto;
    float: right;
    padding: 10px;
    box-sizing: border-box;
}

.blog_mortabet ul .left {
    width: 50%;
    height: auto;
    float: left;
    padding: 10px;
    box-sizing: border-box;
}

.blog_mortabet ul li i {
    display: inline-block;
    width: 15px;
    height: 15px;
    float: right;
    margin: 10px 0 0 5px;
    color: #4891a9;
}

.comments_area input {
    width: 90%;
    height: 40px;
    border: 1px solid #ddd;
    border-radius: 4px;
    background: #f8f8f8;
    padding-right: 42px;
    box-sizing: border-box;
    font-family: yekan;
    color: #555;
    margin-right: 15px;
}

.comments_area input[type=submit] {
    width: 150px;
    float: left;
    background: #49a7ed;
    color: #fff;
    margin-left: 21px;
    height: 50px;
    cursor: pointer;
    font-size: 12pt;
    padding: 0;
    text-align: center;
}

.comments_area textarea {
    width: 96.7%;
    max-width: 96.7%;
    height: 200px;
    border: 1px solid #ddd;
    border-radius: 4px;
    background: #f8f8f8;
    padding: 10px;
    box-sizing: border-box;
    font-family: iran-sans-light;
    color: #555;
    margin-right: 15px;
    font-size: 10pt;
}
