}
@font-face {
	font-family: 'IRANSans';
	font-style: normal;
	font-weight: bold;
	src: url('fonts/IRANSans/eot/IRANSansWeb_Bold.eot');
	src: url('fonts/IRANSans/eot/IRANSansWeb_Bold.eot?#iefix') format('embedded-opentype'),  /* IE6-8 */
		 url('fonts/IRANSans/woff2/IRANSansWeb_Bold.woff2') format('woff2'),  /* FF39+,Chrome36+, Opera24+*/
		 url('fonts/IRANSans/woff/IRANSansWeb_Bold.woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
		 url('fonts/IRANSans/ttf/IRANSansWeb_Bold.ttf') format('truetype');
}
@font-face {
	font-family: 'IRANSans';
	font-style: normal;
	font-weight: 500;
	src: url('fonts/IRANSans/eot/IRANSansWeb_Medium.eot');
	src: url('fonts/IRANSans/eot/IRANSansWeb_Medium.eot?#iefix') format('embedded-opentype'),  /* IE6-8 */
		 url('fonts/IRANSans/woff2/IRANSansWeb_Medium.woff2') format('woff2'),  /* FF39+,Chrome36+, Opera24+*/
		 url('fonts/IRANSans/woff/IRANSansWeb_Medium.woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
		 url('fonts/IRANSans/ttf/IRANSansWeb_Medium.ttf') format('truetype');
}
@font-face {
	font-family: 'IRANSans';
	font-style: normal;
	font-weight: 300;
	src: url('fonts/IRANSans/eot/IRANSansWeb_Light.eot');
	src: url('fonts/IRANSans/eot/IRANSansWeb_Light.eot?#iefix') format('embedded-opentype'),  /* IE6-8 */
		 url('fonts/IRANSans/woff2/IRANSansWeb_Light.woff2') format('woff2'),  /* FF39+,Chrome36+, Opera24+*/
		 url('fonts/IRANSans/woff/IRANSansWeb_Light.woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
		 url('fonts/IRANSans/ttf/IRANSansWeb_Light.ttf') format('truetype');
}
@font-face {
	font-family: 'IRANSans';
	font-style: normal;
	font-weight: 200;
	src: url('fonts/IRANSans/eot/IRANSansWeb_UltraLight.eot');
	src: url('fonts/IRANSans/eot/IRANSansWeb_UltraLight.eot?#iefix') format('embedded-opentype'),  /* IE6-8 */
		 url('fonts/IRANSans/woff2/IRANSansWeb_UltraLight.woff2') format('woff2'),  /* FF39+,Chrome36+, Opera24+*/
		 url('fonts/IRANSans/woff/IRANSansWeb_UltraLight.woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
		 url('fonts/IRANSans/ttf/IRANSansWeb_UltraLight.ttf') format('truetype');
}
@font-face {
	font-family: 'IRANSans';
	font-style: normal;
	font-weight: normal;
	src: url('fonts/IRANSans/eot/IRANSansWeb.eot');
	src: url('fonts/IRANSans/eot/IRANSansWeb.eot?#iefix') format('embedded-opentype'),  /* IE6-8 */
		 url('fonts/IRANSans/woff2/IRANSansWeb.woff2') format('woff2'),  /* FF39+,Chrome36+, Opera24+*/
		 url('fonts/IRANSans/woff/IRANSansWeb.woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
		 url('fonts/IRANSans/ttf/IRANSansWeb.ttf') format('truetype');
}
iransans_non

@font-face {
	font-family: 'iransans_non';
	font-style: normal;
	font-weight: bold;
	src: url('fonts/iransans_non/eot/IRANSansWeb_Bold(NoEn).eot');
	src: url('fonts/iransans_non/eot/IRANSansWeb_Bold(NoEn).eot?#iefix') format('embedded-opentype'),  /* IE6-8 */
		 url('fonts/iransans_non/woff2/IRANSansWeb_Bold(NoEn).woff2') format('woff2'),  /* FF39+,Chrome36+, Opera24+*/
		 url('fonts/iransans_non/woff/IRANSansWeb_Bold(NoEn).woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
		 url('fonts/iransans_non/ttf/IRANSansWeb_Bold(NoEn).ttf') format('truetype');
}
@font-face {
	font-family: 'iransans_non';
	font-style: normal;
	font-weight: 500;
	src: url('fonts/iransans_non/eot/IRANSansWeb_Medium(NoEn).eot');
	src: url('fonts/iransans_non/eot/IRANSansWeb_Medium(NoEn).eot?#iefix') format('embedded-opentype'),  /* IE6-8 */
		 url('fonts/iransans_non/woff2/IRANSansWeb_Medium(NoEn).woff2') format('woff2'),  /* FF39+,Chrome36+, Opera24+*/
		 url('fonts/iransans_non/woff/IRANSansWeb_Medium(NoEn).woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
		 url('fonts/iransans_non/ttf/IRANSansWeb_Medium(NoEn).ttf') format('truetype');
}
@font-face {
	font-family: 'iransans_non';
	font-style: normal;
	font-weight: 300;
	src: url('fonts/iransans_non/eot/IRANSansWeb_Light(NoEn).eot');
	src: url('fonts/iransans_non/eot/IRANSansWeb_Light(NoEn).eot?#iefix') format('embedded-opentype'),  /* IE6-8 */
		 url('fonts/iransans_non/woff2/IRANSansWeb_Light(NoEn).woff2') format('woff2'),  /* FF39+,Chrome36+, Opera24+*/
		 url('fonts/iransans_non/woff/IRANSansWeb_Light(NoEn).woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
		 url('fonts/iransans_non/ttf/IRANSansWeb_Light(NoEn).ttf') format('truetype');
}
@font-face {
	font-family: 'iransans_non';
	font-style: normal;
	font-weight: 200;
	src: url('fonts/iransans_non/eot/IRANSansWeb_UltraLight(NoEn).eot');
	src: url('fonts/iransans_non/eot/IRANSansWeb_UltraLight(NoEn).eot?#iefix') format('embedded-opentype'),  /* IE6-8 */
		 url('fonts/iransans_non/woff2/IRANSansWeb_UltraLight(NoEn).woff2') format('woff2'),  /* FF39+,Chrome36+, Opera24+*/
		 url('fonts/iransans_non/woff/IRANSansWeb_UltraLight(NoEn).woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
		 url('fonts/iransans_non/ttf/IRANSansWeb_UltraLight(NoEn).ttf') format('truetype');
}
@font-face {
	font-family: 'iransans_non';
	font-style: normal;
	font-weight: normal;
	src: url('fonts/iransans_non/eot/IRANSansWeb(NoEn).eot');
	src: url('fonts/iransans_non/eot/IRANSansWeb(NoEn).eot?#iefix') format('embedded-opentype'),  /* IE6-8 */
		 url('fonts/iransans_non/woff2/IRANSansWeb(NoEn).woff2') format('woff2'),  /* FF39+,Chrome36+, Opera24+*/
		 url('fonts/iransans_non/woff/IRANSansWeb(NoEn).woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
		 url('fonts/iransans_non/ttf/IRANSansWeb(NoEn).ttf') format('truetype');
}